<style>
    .zoom-fab i{
        color:white;
    }
    .modal-content{
        box-shadow: none;
    }

    fieldset.group  { 
        border-radius: 7px;
        margin: 0; 
        padding: 0; 
        margin-bottom: 1.25em; 
        padding: .125em; 
    } 

    fieldset.group legend { 
        width:inherit; /* Or auto */
        border-bottom:none;
        margin: 0; 
        padding: 0; 
        font-weight: bold; 
        margin-left: 20px; 
        font-size: 100%; 
        color: black; 
    } 


    ul.checkbox  { 
        margin: 0; 
        padding: 0; 
        margin-left: 20px; 
        list-style: none; 
    } 

    ul.checkbox li input { 
        margin-right: .25em; 
    } 

    ul.checkbox li { 
        border: 1px transparent solid; 
        display:inline-block;
        width:12em;
    } 

    ul.checkbox li label { 
        margin-left: ; 
    } 

    .modal {
        z-index: 150;
    }

    .modal-dialog{
        top: -2vh;
    }

    .modal-body{
        overflow-y: auto;
        height: 52vh;
    }

    .main-sidebar , .main-header{
        z-index: 20 !important;
    }

    #resubmit_form .form-group{
        margin-bottom: 0.5rem;
    }

    .hide-fab{
        display:none;
    }
    .hide-fab i{
        display:inherit;
    }

    .disable-fab{
        pointer-events: none;
        cursor: default;
        color: grey
    }

    body { padding-right: 0 !important }

</style>

    <!-- Modal -->
    <div class="modal fade" id="resubmit_modal" tabindex="-1" role="dialog" aria-labelledby="resubmit_modal" aria-modal="true" data-current-step="1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resubmit_modal">Request Re-Submit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="font-size:27px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                    <form action method="post" id="resubmit_form">
                    <fieldset data-step="1">
                        @foreach(var DepartmentGroup in Model){
                            <fieldset class="group border p-2"> 
                                @{var departMentGroupName = DepartmentGroup.Name.Replace("_", " ");}
                                <legend class="w-auto"> <input type="checkbox" class="checkAll qForm" id="@DepartmentGroup.Name"/> <label for="@DepartmentGroup.Name" style="display: contents;">@departMentGroupName</label></legend> 
                                <ul class="checkbox"> 
                                    @foreach(var Department in DepartmentGroup.Department){
                                        <li><input type="checkbox" class="checkSingle @DepartmentGroup.Name qForm" id="@Department.ID" value="1" name="@Department.Name" /><label for="@Department.ID">@Department.Name</label></li> 
                                    }
                                </ul> 
                            </fieldset> 
                        }
                    </fieldset>
                    <fieldset data-step="2">
                        <div class="form-group row">
                            <div class="col-sm-5 row">
                                <label class="col-sm-4 col-form-label" for="inputChangeDetails" >Due date : </label>
                                    <div class="col-sm-8 col-form-label p-0 input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" name="due_date" data-toggle="datepicker" autocomplete="off" class="form-control mb-0 pb-0 rounded" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">
                                        <div data-toggle="datepicker"></div>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-form-label">
                                <label>Description :</label>
                                <textarea name="desc" type="text" minlength="15" class="form-control" placeholder="ระบุอย่างต่ำ 15 ตัวอักษร" style="height: 26vh;"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset data-step="3">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-sm-2 control-label txt-right">
                                    <label>Due Date: </label>
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" id="related_date" rows="1" disabled contentEditable></input>
                                    @* <div id="related_date"></div> *@
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 control-label txt-right">
                                    <label>Department: </label>
                                </div>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="related_dept" rows="4" disabled contentEditable></textarea>
                                    @* <div id="related_dept"></div> *@
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-2 control-label txt-right">
                                    <label>Description: </label>
                                </div>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="related_desc" rows="5" disabled contentEditable></textarea>
                                    @* <div id="related_dept"></div> *@
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    </form>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> *@
                @* <button type="button" class="btn btn-primary">Save changes</button> *@
                <button type="button" class="btn btn-secondary" data-step-to="prev">
                    Previous
                </button>
                <button type="button" class="btn btn-success" data-step-to="next" disabled>
                    Next
                </button>
                <button type="submit" form="resubmit_form" class="btn btn-info">
                    Submit
                </button>
            </div>
            </div>
        </div>
    </div>

    

<div class="zoom">
    <a class="zoom-fab zoom-btn-large bg-warning" id="resubmit" data-toggle="modal" data-target="#resubmit_modal">
        <i class="fas fa-tasks" style="
            color: white;
            transform: scale(1.4);
        "></i>
        
    </a>
</div>
