@using System.Data
@using ChangeControl.Models
@using ChangeControl.Helpers
@model DataSet
@{
    ViewBag.Title = "Change Control System | Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<FormReviewItem> ReviewItems = ViewData["FormReviewItem"] as List<FormReviewItem>;
    List<Review> ReviewList = ViewBag.ReviewList as List<Review>;
    List<DepartmentList> DepartmentList = ViewData["DepartmentList"] as List<DepartmentList>;
    List<Resubmit> ResubmitList = ViewBag.ResubmitList as List<Resubmit>;
    List<Trial> TrialList = ViewBag.TrialList as List<Trial>;
    List<Confirm> ConfirmList = ViewBag.ConfirmList as List<Confirm>;

    TopicAlt Topic = ViewData["Topic"] as TopicAlt;
    bool isApprover = ((string)Session["Position"] == "Approver");

    var isTrialable = (bool) ViewData["isTrialable"];
    string department = (string)Session["Department"];

    var isPEProcess = (department == "PE1_Process" || department == "PE2_Process");
    var isQC = (department == "QC1" || department == "QC2" || department == "QC3");


    string[] status_define = {"-","Approved","Rejected","Waiting","Need more document","Re-submit"," ","Request","Review","Trial", "Confirm", "Finished", "Rejected" };
    var status = status_define[Topic.Status];
    Session["Status"] = status;

    var tc_list = Topic.RelatedListAlt as List<RelatedAlt>;

    var isReview = (tc_list.Exists(Related => Related.status == 1 && Related.name == Session["Department"].ToString()));
    var isRelated = (tc_list.Exists(Related => Related.name == Session["Department"].ToString()));
    var isTrial = (TrialList.Exists(trial => trial.Department == Session["Department"].ToString()));
    var isConfirm = (ConfirmList.Exists(confirm => confirm.Department == Session["Department"].ToString()));
    @* var isConfirm = (ConfirmList.Exists(confirm => confirm.Status == 3 && confirm.Department == Session["Department"].ToString())); *@
    var Type = Topic.Type;
    var isInternal = (Type == "Internal");
    var isExternal = (Type == "External");
    List<RelatedAlt> rv_related_list = ViewData["ReviewRelatedList"] as List<RelatedAlt>;
    List<RelatedAlt> tr_related_list = ViewData["TrialRelatedList"] as List<RelatedAlt>;
    List<RelatedAlt> cf_related_list = ViewData["ConfirmRelatedList"] as List<RelatedAlt>;
    var QcReviewable = (rv_related_list != null) ? (rv_related_list.Exists(e => e.status == 0 && (e.name == "QC1" || e.name == "QC2" || e.name == "QC3") && rv_related_list.Count(d => d.status == 0) == 1) && !ReviewList.Exists(rv => rv.Status == 3)) : false;
    var QcTrialable = (tr_related_list != null) ? (!tr_related_list.Exists(e => e.status == 0) && !TrialList.Exists(tr => tr.Status == 3)) : false;
    var QcConfirmable = (cf_related_list != null) ? (cf_related_list.Exists(e => e.status == 0 && (e.name == "QC1" || e.name == "QC2" || e.name == "QC3") && cf_related_list.Count(d => d.status == 0) == 1)  && !ConfirmList.Exists(cf => cf.Status == 3)) : false;
}

<script type="text/javascript">
    var DepartmentLists = @Html.Raw(Json.Encode(DepartmentList));
    var topic_status = '@status';
    var topic_id = '@Topic.ID';
    var topic_code = '@Topic.Code';
    var isQC = '@isQC'.toLowerCase() == 'true' ? true : false;
    var isTrialable = '@isTrialable'.toLowerCase() == 'true' ? true : false;
    var isReview = '@isReview'.toLowerCase() == 'true' ? true : false;
    var GenerateMailPath = '@Url.Action("GenerateMail", "Mail")';
    var CheckAllReviewBeforeApprovePath = '@Url.Action("CheckAllReviewBeforeApprove", "Detail")';
    var CheckAllTrialBeforeApprovePath = '@Url.Action("CheckAllTrialBeforeApprove", "Detail")';
    var CheckAllConfirmBeforeApprovePath = '@Url.Action("CheckAllConfirmBeforeApprove", "Detail")';
    var RejectTopicPath = '@Url.Action("RejectTopic", "Detail")';
</script>

    @* @Styles.Render("~/Content/css") *@
@* @Styles.Render("~/bundles/jquery") *@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/sweetalert")
@Scripts.Render("~/bundles/filepond")
@Scripts.Render("~/bundles/vue")

@* <link href="~/Plugin/filepond/filepond.css" rel="stylesheet"> *@

<style>
    .card-sticky{
          position: -webkit-sticky;
        position: sticky;
        top: 73px;
    }
    
    #Top {
        box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 9px 0px;
        background: white;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 36px;
        position: fixed;
        top: 72px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 50;
        left: 56%;
        cursor: pointer;
    }
        #Top:hover {
            @* cursor: pointer;
            background-color: #333; *@
        }

        #Top:active {
            background-color: #555;
        }

        #Top.show {
            opacity: 1;
            visibility: visible;
        }

    @@media (min-width: 500px) {
       
        #Top {
            margin: 10px;
        }
    }

    .arrow-collapse{
        position: absolute;
        float: right;
        display: block;
        right: 10px;
        top: 20px;
    }

    .timeline-footer{
        padding: 0px 10px 10px 10px !important;
    }
 
    .bg-warning, .bg-warning>a {
        color: white !important;
    }

    .btn-warning, .btn-warning>a {
        color: white !important;
        cursor: pointer;
    }

    .tooltip-inner {
        background-color: #007bff;
    }
    .tooltip.bs-tooltip-top .arrow:before {
        border-top-color: #007bff !important;
    }
    .tooltip.bs-tooltip-bottom .arrow:before {
        border-bottom-color: #007bff !important;
    }

    .sidebar-collapse .mailbox-attachments li {
        width: 143px;
        transition: transform 0.5s !important;

    }

    .mailbox-attachments li {
        width: 148px;
        transition: transform 0.5s !important;
    }

    .sidebar-collapse .file-list .mailbox-attachments li {
        width: 165px;
        transition: transform 0.5s !important;
    }

    .file-list .mailbox-attachments li {
        width: 180px;
        transition: transform 0.5s !important;
    }

    .badge-warning, .bg-warning, .btn-warning{
        color: white !important;
        background: #ff9900 !important;
    }

    p.text-muted {
        margin-bottom: -8px;
    }

</style>



<!-- Summernote -->
<script src="~/tmp/plugins/summernote/summernote-bs4.min.js"></script>
<script type="text/javascript">
    var ApproveConfirmPath = '@Url.Action("ApproveConfirm", "Detail")';
    var UpdateConfirmPath = '@Url.Action("UpdateConfirm", "Detail")';
    var ApproveReviewPath = '@Url.Action("ApproveReview", "Detail")';
    var UpdateReviewPath = '@Url.Action("UpdateReview", "Detail")';
    var ApproveTrialPath = '@Url.Action("ApproveTrial", "Detail")';
    var UpdateTrialPath = '@Url.Action("UpdateTrial", "Detail")';

    var SubmitRelatedPath = '@Url.Action("SubmitRelated", "Detail")';
    var RequestResubmitPath = '@Url.Action("RequestResubmit", "Detail")';
    var SubmitResponsePath = '@Url.Action("SubmitResponse", "Detail")';
    var SubmitFileResponsePath = '@Url.Action("SubmitFileResponse", "Detail")';

    var SubmitReviewPath = '@Url.Action("SubmitReview", "Detail")';
    var SubmitReviewItemPath = '@Url.Action("SubmitReviewItem", "Detail")';
    var SubmitFilePath = '@Url.Action("SubmitFile", "Detail")';
    var SubmitTrialPath = '@Url.Action("SubmitTrial", "Detail")';
    var SubmitFileTrialPath = '@Url.Action("SubmitFileTrial", "Detail")';
    var SubmitConfirmPath = '@Url.Action("SubmitConfirm", "Detail")';
    var SubmitFileConfirmPath = '@Url.Action("SubmitFileConfirm", "Detail")';
    
    var CheckApproveIPPPath = '@Url.Action("CheckApproveIPP", "Detail")';
    
    var UpdateTopicStatusPath = '@Url.Action("UpdateTopicStatus", "Detail")';
</script>



<script src="~/Scripts/Detail/Detail.js"></script>
<script src="~/Scripts/Detail/ReviewList.js"></script>
<script src="~/Scripts/Detail/TrialList.js"></script>
<script src="~/Scripts/Detail/ConfirmList.js"></script>

<script src="~/Plugin/filepond/filepond.min.js"></script>
<script src="~/Plugin/filepond/filepond.jquery.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-file-encode.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-image-preview.min.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-file-validate-size.js"></script>
<script src="~/Scripts/Shared/FilePond.js"></script>
<script src="~/Scripts/Shared/FilePond_alt.js"></script>

<script>
    $(() => {
        $("#menu3-1").addClass('active');
        $('#menu1-1').removeClass('active');
        $('#menu2-1').removeClass('active');
    });
</script>

<!-- Content Wrapper. Contains page content -->

@* @Html.Partial("_Department") *@
<div class="content-wrapper">

<!-- Main content -->
<section class="content">
<div class="container-fluid">


<a id="Top" style="font-size: 35px;color: #676767;"><i class="fas fa-angle-up"></i></a>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    @if((isQC || isPEProcess) && isRelated && (status != "Finshed" || status != "Rejected")){ @Html.Partial("Fab",DepartmentList)}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>TNS Control No. @Html.DisplayFor(model => Topic.Code) <span class="badge badge-primary">Rev @Topic.Revision</span></h1> 

                    @{
                        var rv_badge = "secondary";
                        var rv_icon = "fa-lock";

                        var tr_badge = "secondary";
                        var tr_icon = "fa-lock";

                        var cf_badge = "secondary";
                        var cf_icon = "fa-lock";

                        if(Topic.Status >= 8){
                            if(Topic.Status == 8){
                                rv_badge = (isReview) ? "primary" : "warning";
                                rv_icon = (isReview) ? "fa-check" : "fa-clock";
                            }

                            if(Topic.Status == 9){
                                rv_badge = "primary";
                                rv_icon =  "fa-check";
                                tr_badge = (isTrial) ? "primary" : "warning";
                                tr_icon = (isTrial) ? "fa-check" : "fa-clock";
                            }

                            if(Topic.Status == 10){
                                rv_badge = tr_badge = "primary";
                                rv_icon = tr_icon =  "fa-check";
                                cf_badge = (isConfirm) ? "primary" : "warning";
                                cf_icon = (isConfirm) ? "fa-check" : "fa-clock";
                            }

                            if(Topic.Status == 11){
                                rv_badge = tr_badge = cf_badge = "primary";
                                rv_icon = tr_icon = cf_icon =  "fa-check";
                            }
                        }
                    }


                    <span class='badge badge-pill badge-@rv_badge'>Review
                    <i class='fas @rv_icon'></i>
                    </span>

                    @if(isTrialable || (isQC && isRelated)){
                        <span class='badge badge-pill badge-@tr_badge'>Trial
                        <i class='fas @tr_icon'></i>
                        </span>
                    }

                    <span class='badge badge-pill badge-@cf_badge'>Confirm
                    <i class='fas @cf_icon'></i>
                    </span>
                    
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>Change Control System</a></li>
                        <li class="breadcrumb-item active">Project Detail</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline card-sticky">
                        <div class="card-body box-profile">

                            <div class="card-body">
                                <strong> Change NO.</strong>
                                <p class="text-muted">@Html.DisplayFor(model => Topic.Code) </p>
                                <hr>
                                <strong> Change Items</strong>
                                <p class="text-muted">@Html.DisplayFor(model => Topic.Change_item) </p>
                                <hr>
                                <strong> Product Type</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.Product_type) </p>
                                <hr>
                                <strong> Model :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.Model) </p>
                                <hr>
                                <strong> Part No / Part Name :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.PartNo) / @Html.DisplayFor(model => Topic.PartName) </p>
                                <hr>
                                @* <strong> Part Name :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.PartName) </p>
                                <hr> *@
                                <a href="#" class="btn @(status != "Rejected"? "btn-primary" :"btn-danger") btn-block"><b>Status : @status</b></a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#Detail" data-toggle="tab">Detail</a></li>
                                <li class='nav-item @(ResubmitList.Count == 0 ? "hidden" : "")' ><a class="nav-link" href="#timeline" data-toggle="tab">Request Re-submit</a></li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="Detail">
                                    <!-- /.mailbox-controls -->
                                    <div class="mailbox-read-message">
                                    <form class="form-horizontal">
                                    @if(ViewBag.RejectMessage != null){
                                        var rj_msg = ViewBag.RejectMessage;
                                        <h4 class="text-danger">Rejected By</h4>
                                            @:&nbsp; <i class="fas fa-angle-right text-danger"></i>&nbsp; <span class="text-danger"> @rj_msg.Department - @rj_msg.Profile.FullName (@rj_msg.Date) : @rj_msg.Description</span> 
                                    }
                                        <h4 class="@(@ViewBag.RejectMessage != null ? "mt-3":"")">Author</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span> @Topic.Department -  @Topic.Profile.FullName (@Topic.Time_insert)</span>
                                        <h4 class="mt-3">Subject/Purpose for change</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Subject.ReplaceNullWithDash().TrimStart()))</span>
                                        <h4 class="mt-3">Change Details</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Detail.ReplaceNullWithDash().TrimStart()))</span>
                                        <h4 class="mt-3">Introduction Timing</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Timing.ReplaceNullWithDash().TrimStart()))</span>
                                        <h4 class="mt-3">Related Department</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>
                                            @{
                                                var RelatedList = Topic.RelatedListAlt;
                                                var j=0;
                                                foreach (var Related in RelatedList){
                                                    var isResponsed = (Related.status == 1) ? true : false;
                                                    @(j>0?" , ":"")@Related.name
                                                    j++;
                                                }
                                            }
                                            </span>
                                    </form>

                                @if(Topic.FileList.Count != 0){
                                    var FileList = Topic.FileList;
                                    <h4 class="mt-3">Attach File</h4>
                                    <!-- /.card-body -->
                                    <div class="card-footer bg-white">
                                        <ul class="mailbox-attachments d-flex flex-wrap align-items-stretch clearfix">
                                        @foreach(var File in FileList){
                                            var FileSize = "0 Bytes";
                                            var file_desc = (File.Description.Trim() == null || File.Description.Trim() == "") ? "<i>No information</i>" : File.Description;
                                            using (Html.BeginForm("DownloadFile", "Detail", FormMethod.Post, new { enctype = "multipart/form-data" })){

                                            <li data-toggle="tooltip" data-placement="top" data-html="true" title="@file_desc">
                                                <span class="mailbox-attachment-icon">
                                                    @{var FileType = Path.GetExtension(File.Name);}
                                                    @if(FileType == ".docx" || FileType == ".doc" ){
                                                        <i class="far fa-file-word"></i>
                                                    }else if(FileType == ".pptx" || FileType == ".ppt" ){
                                                        <i class="far fa-file-powerpoint"></i>
                                                    }else if(FileType == ".xls" || FileType == ".xlxs" ){
                                                        <i class="far fa-file-excel"></i>
                                                    }else if(FileType == ".pdf"){
                                                        <i class="far fa-file-pdf"></i>
                                                    }else if(FileType == ".png" || FileType == ".jpeg" || FileType == ".jpg" || FileType == ".JPG" || FileType == ".gif" ){
                                                        <i class="far fa-file-image"></i>
                                                    }else{
                                                        <i class="far fa-file"></i>
                                                    }
                                                </span>
                                                <div class="mailbox-attachment-info">
                                                    <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @Html.DisplayFor(model => File.Name)
                                                    </a>
                                                    <span class="mailbox-attachment-size clearfix mt-1">
                                                    @if(File.Size != null){
                                                        if(File.Size > 1000){
                                                            FileSize = (File.Size / 1000) + " KB";
                                                        }else{
                                                            FileSize = File.Size + " Bytes";
                                                        }
                                                    }
                                                        <span>@FileSize</span>
                                                        <button name="load" value="@File.Name_Format^@File.Name" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></button>
                                                    </span>
                                                </div>
                                            </li>
                                            }
                                        }
                                        </ul>
                                    </div>
                                }   
                                    </div>
                                    <br>
                                    <!------------------------------------QUALITY CONTROL---------------------------------------------------------->
                                @if(ReviewList.Count != 0){
                                    <hr>
                                    @* <h1>Quality Control</h1> *@
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Review <br> 
                                                @* <span class="time"><i class="far fa-clock"></i> 12:05</span> *@
                                            </span>
                                        </div>
                                            @Html.Partial("Review/List",ReviewList) 

                                        @if(status == "Trial" || status == "Confirm" || status == "Finished"){
                                        <div class="time-label">
                                            @if(tr_related_list.Count() > 0){ //Request trial not exist
                                                <span class="bg-primary">
                                                    Trail and following
                                                </span>
                                            }
                                        </div>
                                            @Html.Partial("Trial/List",TrialList) 
                                        }

                                        @if(status == "Confirm" || status == "Finished"){
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Confirm status
                                            </span>
                                        </div>
                                            @Html.Partial("Confirm/List",ConfirmList) 
                                        }

                                        @if(status == "Finished" || status == "Rejected"){
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Closed 
                                                @* <br><span class="time"><i class="far fa-clock"></i> 2 days ago</span> *@
                                            </span>
                                        </div>
                                        }
                                        <div>
                                            <i class="far fa-clock bg-gray"></i>
                                        </div>
                                    </div>
                                }

                                @* /* ----------------------------- Review section ----------------------------- */ *@
                                @if(isRelated && !isReview && (status == "Request" || status == "Review")){
                                    if(isPEProcess && (status == "Request" || status == "Review")){
                                        Session["isIssued"] = true;
                                        @Html.Partial("Review/PE_Process") 
                                    }else if(isQC && QcReviewable && (status == "Review")){
                                        @Html.Partial("Review/QC")
                                    }else if(((!isQC && !isPEProcess && status == "Review" && isInternal) || (isExternal && !isQC))){
                                        @Html.Partial("Review/Other", ReviewItems) 
                                    }

                                }else if((isTrialable || QcTrialable) && !isTrial && status == "Trial"){
                                @* /* ----------------------------- Trial section ----------------------------- */ *@
                                    <hr><br>
                                    <h1>Trial</h1><br>
                                    <form class="form-horizontal"  action="javascript:void(0);" id="Trial">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Description: </label>
                                        <div class="col-sm-10 col-form-label">
                                            <textarea class="form-control" name="tr_desc" style="height:20vh"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Attach File: </label>
                                        <div class="col-sm-10">
                                            <input type="file" class="my-pond" name="filepond"/>
                                        </div>
                                    </div>
                                    <hr><br>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <button type="submit" id="tr_submit" class="btn btn-info float-right" disabled>Submit</button>
                                            </div>
                                        </div>
                                    </form>                                    
                                }else if(((isRelated && !isQC) || (isQC && QcConfirmable)) && !isConfirm && status == "Confirm"){
                                @* /* ----------------------------- Confirm section ----------------------------- */ *@
                                    <hr><br>
                                    <h1>Confirm</h1><br>
                                    <form class="form-horizontal"  action="javascript:void(0);" id="Confirm">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Description: </label>
                                        <div class="col-sm-10 col-form-label">
                                            <textarea class="form-control" name="cf_desc" style="height:20vh"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Attach File: </label>
                                        <div class="col-sm-10">
                                            <input type="file" class="my-pond" name="filepond"/>
                                        </div>
                                    </div>
                                    <hr><br>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <button type="submit" id="cf_submit" class="btn btn-info float-right" disabled>Submit</button>
                                            </div>
                                        </div>
                                    </form>                                    
                                }
                                    @{
                                        var temp_dept = Session["Department"].ToString();
                                        if(Topic.Status == 7 || Topic.Status == 8){
                                            Review rv_edit = ReviewList.Find(Review => Review.Department == temp_dept);
                                            if(rv_edit != null) { 
                                                if(isQC){
                                                    @Html.Partial("Review/Edit_QC",rv_edit) 
                                                }else if(isPEProcess){
                                                    @Html.Partial("Review/Edit_PE_Process",rv_edit) 
                                                }else{
                                                    @Html.Partial("Review/Edit",rv_edit) 
                                                }
                                            }
                                        }else if(Topic.Status == 9){
                                            Trial tr_edit = TrialList.Find(Trial => Trial.Department == Session["Department"].ToString());
                                            if(tr_edit != null) { @Html.Partial("Trial/Edit",tr_edit) }
                                        }else if(Topic.Status == 10){
                                            Confirm cf_edit = ConfirmList.Find(Confirm => Confirm.Department == Session["Department"].ToString());
                                            if(cf_edit != null) { @Html.Partial("Confirm/Edit",cf_edit) } 
                                        }
                                    }

                                </div> @* End of tab-pane *@
                                <!-- /.tab-pane -->
                                <div class ="tab-pane" id="timeline">
                                    <!-- The timeline -->
                                        @Html.Partial("Resubmit",ResubmitList) 
                                </div>
                                <!-- /.tab-pane -->
                                
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

