@using System.Data
@using System.Dynamic
@using ChangeControl.Models
@using ChangeControl.Helpers
@model DataSet
@{
    ViewBag.Title = "Change Control System | Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<FormReviewItem> ReviewItems = ViewData["FormReviewItem"] as List<FormReviewItem>;
    List<Review> ReviewList = ViewBag.ReviewList as List<Review>;
    List<DepartmentList> DepartmentList = ViewData["DepartmentList"] as List<DepartmentList>;
    List<Resubmit> ResubmitList = ViewBag.ResubmitList as List<Resubmit>;
    List<Trial> TrialList = ViewBag.TrialList as List<Trial>;
    List<Confirm> ConfirmList = ViewBag.ConfirmList as List<Confirm>;

    TopicAlt Topic = ViewData["Topic"] as TopicAlt;

    var department = (Session["Department"] != null) ? Session["Department"].ToString() : null;
    var pos = (Session["Position"] != null) ? Session["Position"].ToString() : null;


    var isTrialable = (bool) ViewData["isTrialable"];

    bool isApprover = ViewBag.isApprover = (pos == "Approver") || (pos == "Admin") || (pos == "Special") ;
    var isPEProcess = ViewBag.isPEProcess = (ViewBag.PEAudit.Contains(department));
    var isQC = ViewBag.isQC = (ViewBag.QCAudit.Contains(department ));
    var isPCH = ("PCH".Contains(department));
    var isQCIN = ("QC_IN1".Contains(department)|| "QC_IN2".Contains(department)|| "QC_IN3".Contains(department));

    var status = Topic.FullStatus;
    Session["Status"] = Topic.Status;

    var Type = Topic.Type;

    var isReview = (Topic.RelatedListAlt.Exists(Related => Related.Review == 1 && Related.Department == Session["Department"].ToString()));
    var isRelated = (Topic.RelatedListAlt.Exists(Related => Related.Department == Session["Department"].ToString()));
    var isTrial = (TrialList.Exists(trial => trial.Department == Session["Department"].ToString()));
    var isConfirm = (ConfirmList.Exists(confirm => confirm.Department == Session["Department"].ToString()));
    var isInternal = ViewBag.isInternal = (Type == "Internal");
    var isExternal = (Type == "External");
    var Resubmitable = (isQC || isPEProcess|| isPCH|| isQCIN) && isRelated && (status != "Waiting" && status != "Finished" && status != "Rejected");
    var isResubmitted = (ResubmitList != null && ResubmitList.Count > 0 && ResubmitList.Exists(x => x.ExistsRelated(Session["Department"].ToString())  == true));
    var Editable = ((status == "Waiting" || status == "Request") && Session["Department"].ToString() == Topic.Department);
    var TopicApproveable = (status == "Waiting" && Session["Department"].ToString() == Topic.Department && isApprover);

    var pe_audit = (Topic.RelatedListAlt.Find(e => ViewBag.PEAudit.Contains(e.Department) ));

    var QcReviewable = ViewBag.QcReviewable = (Topic.RelatedListAlt != null) ? ((Topic.RelatedListAlt.Count(d => d.Review == 0) == 1) && !ReviewList.Exists(rv => rv.Status == 3)) : false;
    var QcTrialable = ViewBag.QcTrialable = (Topic.RelatedListAlt != null) ? (Topic.RelatedListAlt.Exists(e => e.Trial == 2 && (ViewBag.QCAudit.Contains(e.Department )) && !Topic.RelatedListAlt.Exists(d => d.Trial == 0)) && !TrialList.Exists(tr => tr.Status == 3)) : false;
    var QcConfirmable = ViewBag.QcConfirmable = (Topic.RelatedListAlt != null) ? (Topic.RelatedListAlt.Exists(e => e.Confirm == 0 && (ViewBag.QCAudit.Contains(e.Department ))) && !Topic.RelatedListAlt.Exists(e => e.Confirm == 0 && (ViewBag.cf_list.Contains(e.Department))) && !ConfirmList.Exists(cf => cf.Status == 3)) : false;

}

<script type="text/javascript">
    var DepartmentLists = @Html.Raw(Json.Encode(DepartmentList));
    var topic_status = '@Session["Status"].ToString()';
    var topic_id = '@Topic.ID';
    var topic_code = '@Topic.Code';
    var topic_dept = '@Topic.Department';
    var topic_status = '@Topic.Status';
    var pe_audit = '@(pe_audit != null ? pe_audit.Department : null)';
    var isQC = '@isQC'.toLowerCase()  == 'true' ? true : false;
    var isPEProcess = '@isPEProcess'.toLowerCase()  == 'true' ? true : false;
    var isTrialable = '@isTrialable'.toLowerCase()  == 'true' ? true : false;
    var Resubmitable = '@Resubmitable'.toLowerCase()  == 'true' ? true : false;
    var isResubmitted = '@isResubmitted'.toLowerCase()  == 'true' ? true : false;
    var isInternal = '@isInternal';
    var isExternal = '@isExternal';
    var isReview = '@isReview'.toLowerCase() == 'true' ? true : false;
    var GenerateMailPath = '@Url.Action("GenerateMail", "Mail")';
    var ApproveTopicPath = '@Url.Action("ApproveTopic", "Detail")';
    var CheckAllReviewBeforeApprovePath = '@Url.Action("CheckAllReviewBeforeApprove", "Detail")';
    var CheckAllTrialBeforeApprovePath = '@Url.Action("CheckAllTrialBeforeApprove", "Detail")';
    var CheckAllConfirmBeforeApprovePath = '@Url.Action("CheckAllConfirmBeforeApprove", "Detail")';
    var RejectTopicPath = '@Url.Action("RejectTopic", "Detail")';
    var UpdateTopicRelatedPath = '@Url.Action("UpdateTopicRelated", "Detail")';
    var GetAuditNotificationPath = '@Url.Action("GetAuditNotification", "Detail")';
</script>

@* <link href="~/Plugin/filepond/filepond.css" rel="stylesheet"> *@

<style>
    .card-sticky{
          position: -webkit-sticky;
        position: sticky;
        top: 73px;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 0.5rem; 
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }
    
    .card-body {
        flex: 1 1 auto;
        padding: 0.65rem 0.9rem;
    }
    
    #Top {
        box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 9px 0px;
        background: white;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 36px;
        position: fixed;
        top: 72px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 19;
        left: 56%;
        cursor: pointer;
    }
        #Top:hover {
            @* cursor: pointer;
            background-color: #333; *@
        }

        #Top:active {
            background-color: #555;
        }

        #Top.show {
            opacity: 1;
            visibility: visible;
        }

    @@media (min-width: 500px) {
       
        #Top {
            margin: 10px;
        }
    }

    .arrow-collapse{
        position: absolute;
        float: right;
        display: block;
        right: 10px;
        top: 20px;
    }

    .timeline-footer{
        padding: 0px 10px 10px 10px !important;
    }
 
    .tooltip-inner {
        background-color: #007bff;
    }
    .tooltip.bs-tooltip-top .arrow:before {
        border-top-color: #007bff !important;
    }
    .tooltip.bs-tooltip-bottom .arrow:before {
        border-bottom-color: #007bff !important;
    }

    .sidebar-collapse .mailbox-attachments li {
        width: 143px;
        transition: transform 0.5s !important;

    }

    .mailbox-attachments li {
        width: 148px;
        transition: transform 0.5s !important;
    }

    .sidebar-collapse .file-list .mailbox-attachments li {
        width: 165px;
        transition: transform 0.5s !important;
    }

    .file-list .mailbox-attachments li {
        width: 180px;
        transition: transform 0.5s !important;
    }

    p.text-muted {
        margin-bottom: -8px;
    }

    .tab-nav:not(.active) {
        color: #007bff !important;
        border: 1px solid #007bff;
    }

    .main-sidebar , .main-header{
        z-index: 20 !important;
    }

    #resubmit_form .form-group{
        margin-bottom: 0.5rem;
    }

    .hide-fab{
        display:none;
    }
    .hide-fab i{
        display:inherit;
    }

    .disable-fab{
        pointer-events: none;
        cursor: default;
        color: grey
    }

    .w-actions {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        bottom: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        right: 24px;
        z-index: 100
    }

    .w-actions>* {
        margin-top: 20px
    }

    .w-actions__fab {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #3740ff;
        border: 0;
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        cursor: pointer;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-family: "Roboto", sans-serif;
        font-size: .875em;
        font-weight: 600;
        height: 56px;
        letter-spacing: 1px;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-indent: -9999px;
        text-overflow: initial;
        text-transform: uppercase;
        width: 56px
    }

    @@media (min-width: 1264px) {
        .w-actions__fab {
            border-radius: 28px;
            padding: 0 24px 0 52px;
            text-indent: 0;
            width: auto
        }
    }

    .w-actions__fab:hover {
        background-color: #3740ff;
    }

    .w-actions__fab:active {
        background-color: #3740ff;
        -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
    }

    .w-actions__fab:hover,
    .w-actions__fab:focus,
    .w-actions__fab:active {
        outline: 0;
        text-decoration: none
    }

    .w-actions__fab::before {
        background-size: 24px 24px;
        content: '';
        height: 24px;
        left: 16px;
        position: absolute;
        top: 16px;
        width: 24px
    }

    .w-actions__fab::after {
        bottom: 0;
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: background-color .2s, border .2s;
        transition: background-color .2s, border .2s;
        z-index: 1
    }

    .w-actions__fab:hover::after {
        background-color: rgba(255, 255, 255, 0.08)
    }

    .w-actions__fab:focus::after {
        background-color: rgba(255, 255, 255, 0.24)
    }

    .w-actions__fab:active::after {
        background-color: rgba(255, 255, 255, 0.32)
    }

    .w-actions__fab--resubmit::before {
        background-image: url("@Url.Content("~/tmp/docs/assets/plugins/fontawesome-free/svgs/solid/tasks.svg")");
    }

    .w-actions__fab--resubmit::before {
        background-image: url("@Url.Content("~/tmp/docs/assets/plugins/fontawesome-free/svgs/solid/tasks.svg")");
    }

    .w-actions__fab--approve::before {
        background-image: url("@Url.Content("~/tmp/docs/assets/plugins/fontawesome-free/svgs/solid/check.svg")");
    }
    
    .w-actions__fab--edit::before {
        background-image: url("@Url.Content("~/tmp/docs/assets/plugins/fontawesome-free/svgs/solid/pencil-alt.svg")");
    }

    .w-actions__fab--subscribe:hover::after {
        background-color: rgba(55, 64, 255, 0.04)
    }

    .w-actions__fab--subscribe:focus::after {
        background-color: rgba(55, 64, 255, 0.12)
    }

    .w-actions__fab--subscribe:active::after {
        background-color: rgba(55, 64, 255, 0.16)
    }

    body { padding-right: 0 !important }

</style>



<!-- Summernote -->
<script src="~/tmp/plugins/summernote/summernote-bs4.min.js"></script>
<script type="text/javascript">
    var ApproveConfirmPath = '@Url.Action("ApproveConfirm", "Detail")';
    var UpdateConfirmPath = '@Url.Action("UpdateConfirm", "Detail")';
    var ApproveReviewPath = '@Url.Action("ApproveReview", "Detail")';
    var UpdateReviewPath = '@Url.Action("UpdateReview", "Detail")';
    var ApproveTrialPath = '@Url.Action("ApproveTrial", "Detail")';
    var UpdateTrialPath = '@Url.Action("UpdateTrial", "Detail")';

    var InsertRelatedPath = '@Url.Action("InsertRelated", "Detail")';
    var RequestResubmitPath = '@Url.Action("RequestResubmit", "Detail")';
    var InsertResponsePath = '@Url.Action("InsertResponse", "Detail")';
    var InsertFileResponsePath = '@Url.Action("InsertFileResponse", "Detail")';
    var InsertFileResubmitPath = '@Url.Action("InsertFileResubmit", "Detail")';

    var InsertReviewPath = '@Url.Action("InsertReview", "Detail")';
    var InsertReviewItemPath = '@Url.Action("InsertReviewItem", "Detail")';
    var InsertFilePath = '@Url.Action("InsertFile", "Detail")';
    var InsertTrialPath = '@Url.Action("InsertTrial", "Detail")';
    var InsertFileTrialPath = '@Url.Action("InsertFileTrial", "Detail")';
    var InsertConfirmPath = '@Url.Action("InsertConfirm", "Detail")';
    var InsertFileConfirmPath = '@Url.Action("InsertFileConfirm", "Detail")';
    
    var CheckApproveIPPPath = '@Url.Action("CheckApproveIPP", "Detail")';
    
    var UpdateTopicStatusPath = '@Url.Action("UpdateTopicStatus", "Detail")';
</script>



<script src="~/Scripts/Detail/Detail.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/Scripts/Detail/ReviewList.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/Scripts/Detail/TrialList.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/Scripts/Detail/ConfirmList.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>

<script src="~/Plugin/filepond/filepond.min.js"></script>
<script src="~/Plugin/filepond/filepond.jquery.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-file-encode.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-image-preview.min.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-file-validate-size.js"></script>
<script src="~/Scripts/Shared/FilePond.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/Scripts/Shared/FilePond_alt.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/Scripts/Shared/FilePond_rd.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/Scripts/Shared/FilePond_rsm.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>

<script>
    $(() => {
        $("#menu3-1").addClass('active');
        $('#menu1-1').removeClass('active');
        $('#menu2-1').removeClass('active');
    });
</script>

<!-- Content Wrapper. Contains page content -->

@* @Html.Partial("_Department") *@
<div class="content-wrapper">

<!-- Main content -->
<section class="content">
<div class="container-fluid">


<a id="Top" style="font-size: 35px;color: #676767;"><i class="fas fa-angle-up"></i></a>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="col-sm-12">
                <div class="row">
                        @if(Resubmitable){ 
                            @Html.Partial("Fab",DepartmentList)
                        }
                        @if(Topic.Status == 7 || Topic.Status == 8){
                            @Html.Partial("Related",DepartmentList)
                        }
                </div>
                <div class="row">
                    <div class="w-actions">
                        @if(TopicApproveable){
                            <a class="w-actions__fab w-actions__fab--approve bg-primary" id="tp_approve">
                               <span>Approve</span>
                            </a>
                        }
                        @if(Resubmitable){ 
                            <a class="w-actions__fab w-actions__fab--resubmit bg-warning" id="resubmit" data-toggle="modal" data-target="#resubmit_modal">
                                <span>Resubmit</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-8">
                    <h1>
                        TNS Control No. @Html.DisplayFor(model => Topic.Code) 
                        <span class="badge badge-primary">Rev @Topic.Revision.ToString("00")</span>
                        @if(Editable) { 
                        <a href='@Url.Action("Index", "Request",new {id = Topic.Code})' style="font-size: 1.8rem!important;">
                            <span class="badge badge-warning"><i class="fas fa-pencil-alt" style="font-size: 1rem!important;"></i> Edit</span>
                        </a> 
                        }
                    </h1>

                    @{
                        var rv_badge = "secondary";
                        var rv_icon = "fa-lock";

                        var tr_badge = "secondary";
                        var tr_icon = "fa-lock";

                        var cf_badge = "secondary";
                        var cf_icon = "fa-lock";

                        if(Topic.Status == 8){
                            rv_badge = (isReview) ? "primary" : "warning";
                            rv_icon = (isReview) ? "fa-check" : "fa-clock";
                        }

                        if(Topic.Status == 9){
                            rv_badge = "primary";
                            rv_icon =  "fa-check";
                            tr_badge = (isTrial) ? "primary" : "warning";
                            tr_icon = (isTrial) ? "fa-check" : "fa-clock";
                        }

                        if(Topic.Status == 10){
                            rv_badge = tr_badge = "primary";
                            rv_icon = tr_icon =  "fa-check";
                            cf_badge = (isConfirm) ? "primary" : "warning";
                            cf_icon = (isConfirm) ? "fa-check" : "fa-clock";
                        }

                        if(Topic.Status == 11){
                            rv_badge = tr_badge = cf_badge = "primary";
                            rv_icon = tr_icon = cf_icon =  "fa-check";
                        }
                    }

                    @if(isRelated){
                        <span class='badge badge-pill badge-@rv_badge'>Review
                        <i class='fas @rv_icon'></i>
                        </span>
                    }

                    @if(isTrialable || (isQC && isRelated)){
                        <span class='badge badge-pill badge-@tr_badge'>Trial & Confirm
                        <i class='fas @tr_icon'></i>
                        </span>
                    }

                    @if(ViewBag.cf_list.Contains(department) || (isQC && isRelated)){
                        <span class='badge badge-pill badge-@cf_badge'>Initial Production
                        <i class='fas @cf_icon'></i>
                        </span>
                    }
                    
                </div>
                <div class="col-sm-4">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>Change Control System</a></li>
                        <li class="breadcrumb-item active">Project Detail</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline card-sticky">
                        <div class="card-body box-profile">

                            <div class="card-body">
                                <strong> Change NO.</strong>
                                <p class="text-muted">@Html.DisplayFor(model => Topic.Code) </p>
                                <hr>
                                <strong> Change Items</strong>
                                <p class="text-muted">@Html.DisplayFor(model => Topic.Change_item) </p>
                                <hr>
                                <strong> Product Type</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.Product_type) </p>
                                <hr>
                                <strong> Model :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.Model) </p>
                                <hr>
                                <strong> Process Name :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.ProcessName) </p>
                                <hr>
                                <strong> Part No / Part Name :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.PartNo) / @Html.DisplayFor(model => Topic.PartName) </p>
                                <hr>
                                @* <strong> Part Name :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.PartName) </p>
                                <hr> *@
                                <a href="#" class="btn @(status != "Rejected"? "btn-primary" :"btn-danger") btn-block"><b>Phase : @(status == "Waiting" ? "Request" : status)</b></a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link tab-nav mr-2 active" href="#Detail" data-toggle="tab">Detail</a></li>
                                <li class='nav-item @(ResubmitList.Count == 0 ? "hidden" : "")' ><a class="nav-link tab-nav mr-2" href="#timeline" data-toggle="tab" data-intro='ในกรณีที่ QC หรือ PE_Process ได้ทำการ Request document เพิ่มเติมจะสามารถอ่านและตอบในหมวดหมู่ Re-submit'>Request Re-submit</a></li>
                                @if(Topic.Status != 3 && Topic.Status != 7){
                                    <li class="nav-item">
                                        <a class="nav-link tab-nav" href='@Url.Action("CrystalReportReport", "Report",new {id = Topic.Code})' target="_blank" ><i class="fas fa-file-pdf" style="font-size: 1rem!important;"></i> Export to PDF</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="Detail">
                                    <!-- /.mailbox-controls -->
                                    <div class="mailbox-read-message">
                                    <form class="form-horizontal">
                                    @if(ViewBag.RejectMessage != null){
                                        var rj_msg = ViewBag.RejectMessage;
                                        <h4 class="text-danger">Rejected By</h4>
                                            @:&nbsp; <i class="fas fa-angle-right text-danger"></i>&nbsp; <span class="text-danger"> @rj_msg.Department - @rj_msg.Profile.FullName (@rj_msg.Date) : @rj_msg.Description</span> 
                                    }
                                        <h4 class="@(@ViewBag.RejectMessage != null ? "mt-3":"")">Author</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span> @Topic.Department -  @Topic.Profile.FullName (@Topic.Time_insert)</span>
                                    @if(status != "Waiting" && Topic.ApprovedBy != null){
                                        <h4 class="mt-3">Approved By</h4>
                                            try{
                                                @:&nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span> @Topic.Department -  @Topic.ApproverProfile.FullName (@Topic.ApprovedDate)</span>
                                            }catch(Exception err){
                                                <script>
                                                   window.location.reload();
                                                </script>
                                            }
                                    }
                                        <h4 class="mt-3">Subject/Purpose for change</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Subject.ReplaceNullWithDash().TrimStart()))</span>
                                        <h4 class="mt-3">Change Details</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Detail.ReplaceNullWithDash().TrimStart()))</span>
                                        <h4 class="mt-3">Change Date</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Timing.ReplaceNullWithDash().TrimStart()))</span> 
                                        @if(Topic.TimingDesc != null) {<span>@Html.Raw(HttpUtility.HtmlDecode(Topic.TimingDesc.TrimStart()))</span>}
                                        <h4 class="mt-3">Related Department</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>
                                            @{
                                                var j=0;
                                                foreach (var Related in Topic.RelatedListAlt){
                                                    var isResponsed = (Related.Review == 1) ? true : false;
                                                    @(j>0?" , ":"")@Related.Department
                                                    j++;
                                                }
                                            }
                                            </span>
                                        

                                    </form>


                                @try{
                                    if(Topic.FileList.Count != 0){
                                        <h4 class="mt-3">Attach File</h4>
                                        <div class="card-footer bg-white">
                                        @Html.Partial("~/Views/Helper/FileList.cshtml",Topic.FileList as List<FileItem>)
                                        </div>
                                    }   
                                }catch(Exception err){
                                    <script>
                                        window.location.reload();
                                    </script>
                                }
                                
                                @{
                                    object UpdateModel = new {Related = Topic.RelatedListAlt, Author = Topic.Profile.FullName, FileList = Topic.FileList as List<FileItem>};
                                }
                                @* @Html.Partial("Update", UpdateModel)  *@

                                    </div>
                                    <!------------------------------------QUALITY CONTROL---------------------------------------------------------->
                                @if(isExternal || ReviewList.Count != 0){
                                    <hr>
                                    @* <h1>Quality Control</h1> *@
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">

                @* /* ------------------------------- Review List ------------------------------ */ *@
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Review <br> 
                                                @* <span class="time"><i class="far fa-clock"></i> 12:05</span> *@
                                            </span>
                                        </div>
                                            @Html.Partial("Review/List",ReviewList) 

                @* /* ------------------------------- Trial List ------------------------------ */ *@
                                        @if(Topic.Status == 9 || Topic.Status == 10 || Topic.Status == 11 || Topic.Status == 12){
                                        <div class="time-label">
                                            @if((Topic.RelatedListAlt.Count(e => e.Trial == 1) > 0 && Topic.Status != 9 ) || Topic.Status == 9 ){ //Request trial not exist
                                                <span class="bg-primary">
                                                    Trial & Confirm
                                                </span>
                                            }
                                        </div>
                                            @Html.Partial("Trial/List",TrialList) 
                                        }

                @* /* ------------------------------- Confirm List ------------------------------ */ *@
                                        @if(Topic.Status == 10 || Topic.Status == 11 || Topic.Status == 12){
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Initial Production
                                            </span>
                                        </div>
                                            @Html.Partial("Confirm/List",ConfirmList) 
                                        }

                                        @if(Topic.Status == 11 || Topic.Status == 12){
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Closed 
                                                @* <br><span class="time"><i class="far fa-clock"></i> 2 days ago</span> *@
                                            </span>
                                        </div>
                                        }
                                        <div>
                                            <i class="far fa-clock bg-gray"></i>
                                        </div>
                                    </div>
                                }

                                @* /* ----------------------------- Review section ----------------------------- */ *@
                                @if(isRelated && !isReview && (Topic.Status == 7 || Topic.Status == 8)){
                                    if(isPEProcess && (Topic.Status == 7 || Topic.Status == 8)){
                                        Session["isIssued"] = true;
                                        @Html.Partial("Review/PE_Process") 
                                    }else if(isQC && QcReviewable && (Topic.Status == 8)){
                                        @Html.Partial("Review/QC")
                                    }else if(((!isQC && !isPEProcess && Topic.Status == 8 && isInternal) || (isExternal && !isQC))){
                                        @Html.Partial("Review/Other", ReviewItems) 
                                    }

                                }else if(isRelated && (isTrialable || (QcTrialable && isQC)) && !isTrial && Topic.Status == 9){
                                @* /* ----------------------------- Trial section ----------------------------- */ *@
                                    <hr><br>
                                    <h1>Trial & Confirm</h1><br>
                                    <form class="form-horizontal"  action="javascript:void(0);" id="Trial">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Description: </label>
                                        <div class="col-sm-10 col-form-label">
                                            <textarea class="form-control" name="tr_desc" style="height:20vh"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Attach File: </label>
                                        <div class="col-sm-10">
                                            <input type="file" class="my-pond" name="filepond"/>
                                        </div>
                                    </div>
                                    <hr><br>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <button type="submit" id="tr_submit" class="btn btn-info float-right" disabled>Submit</button>
                                            </div>
                                        </div>
                                    </form>                                    
                                }else if(isRelated && ((ViewBag.cf_list.Contains(department) && !isQC) || (isQC && QcConfirmable)) && !isConfirm && Topic.Status == 10){
                                @* /* ----------------------------- Confirm section ----------------------------- */ *@
                                    <hr><br>
                                    <h1>Initial Production</h1><br>
                                    <form class="form-horizontal"  action="javascript:void(0);" id="Confirm">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Description: </label>
                                        <div class="col-sm-10 col-form-label">
                                            <textarea class="form-control" name="cf_desc" style="height:20vh"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Attach File: </label>
                                        <div class="col-sm-10">
                                            <input type="file" class="my-pond" name="filepond"/>
                                        </div>
                                    </div>
                                    <hr><br>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <button type="submit" id="cf_submit" class="btn btn-info float-right" disabled>Submit</button>
                                            </div>
                                        </div>
                                    </form>                                    
                                }
                                    @{
                                        var temp_dept = Session["Department"].ToString();
                                        if(Topic.Status == 7 || Topic.Status == 8){
                                            Review rv_edit = ReviewList.Find(Review => Review.Department == temp_dept);
                                            if(rv_edit != null) { 
                                                if(isQC){
                                                    @Html.Partial("Review/Edit_QC",rv_edit) 
                                                }else if(isPEProcess){
                                                    @Html.Partial("Review/Edit_PE_Process",rv_edit) 
                                                }else{
                                                    @Html.Partial("Review/Edit",rv_edit) 
                                                }
                                            }
                                        }else if(Topic.Status == 9){
                                            Trial tr_edit = TrialList.Find(Trial => Trial.Department == Session["Department"].ToString());
                                            if(tr_edit != null) { @Html.Partial("Trial/Edit",tr_edit) }
                                        }else if(Topic.Status == 10){
                                            Confirm cf_edit = ConfirmList.Find(Confirm => Confirm.Department == Session["Department"].ToString());
                                            if(cf_edit != null) { @Html.Partial("Confirm/Edit",cf_edit) } 
                                        }
                                    }

                                </div> @* End of tab-pane *@
                                <!-- /.tab-pane -->
                                <div class ="tab-pane" id="timeline">
                                    <!-- The timeline -->
                                        @Html.Partial("Resubmit",ResubmitList) 
                                </div>
                                <!-- /.tab-pane -->
                                
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

