@using System.Data
@using ChangeControl.Models;
@using StringHelper;
@model DataSet
@{
    ViewBag.Title = "Change Control System | Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<FormReviewItem> ReviewItems = ViewData["FormReviewItem"] as List<FormReviewItem>;
    List<Review> ReviewList = ViewData["ViewReviewItem"] as List<Review>;
    List<DepartmentList> DepartmentList = ViewData["DepartmentList"] as List<DepartmentList>;
    List<Resubmit> ResubmitList = ViewData["ResubmitList"] as List<Resubmit>;
    List<Trial> TrialList = ViewData["TrialList"] as List<Trial>;
    List<Confirm> ConfirmList = ViewData["ConfirmList"] as List<Confirm>;

    TopicAlt Topic = ViewData["Topic"] as TopicAlt;
    bool isManager = ((string)Session["Position"] == "Manager");

    var isTrialable = (bool) ViewData["isTrialable"];
    string department = (string)Session["Department"];

    var isPEProcess = (department == "PE1_Process" || department == "PE2_Process");
    var isQC = (department == "QC1" || department == "QC2" || department == "QC3");


    string[] status_define = {"-","Approved","Rejected","Waiting","Need more document","Re-submit"," ","Request","Review","Trial", "Confirm", "Closed" };
    var status = status_define[Topic.Status];
    Session["Status"] = status;

    var tc_list = Topic.RelatedListAlt as List<RelatedAlt>;

    var isReview = (tc_list.Exists(Related => Related.status == 1 && Related.name == Session["Department"].ToString()));
    var isRelated = (tc_list.Exists(Related => Related.name == Session["Department"].ToString()));
    var isTrial = (TrialList.Exists(trial => trial.Department == Session["Department"].ToString()));
    var isConfirm = (ConfirmList.Exists(confirm => confirm.Status == 3 && confirm.Department == Session["Department"].ToString()));
    var Type = Topic.Type;
    var isInternal = (Type == "Internal");
    var isExternal = (Type == "External");


}


<script type="text/javascript">
    DepartmentLists = @Html.Raw(Json.Encode(DepartmentList));
    topic_status = '@status';
    topic_id = '@Topic.ID';
    topic_code = '@Topic.Code';
    isQC = '@isQC'.toLowerCase() == 'true' ? true : false;
    isTrialable = '@isTrialable'.toLowerCase() == 'true' ? true : false;
    isReview = '@isReview'.toLowerCase() == 'true' ? true : false;
</script>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<style>
    .card-sticky{
          position: -webkit-sticky;
        position: sticky;
        top: 73px;
    }
    
    #Top {
        box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 9px 0px;
        background: white;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 36px;
        position: fixed;
        top: 72px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 50;
        left: 56%;
        cursor: pointer;
    }
        #Top:hover {
            @* cursor: pointer;
            background-color: #333; *@
        }

        #Top:active {
            background-color: #555;
        }

        #Top.show {
            opacity: 1;
            visibility: visible;
        }

    @@media (min-width: 500px) {
       
        #Top {
            margin: 10px;
        }
    }

    .arrow-collapse{
        position: absolute;
        float: right;
        display: block;
        right: 10px;
        top: 20px;
    }

    .timeline-footer{
        padding: 0px 10px 10px 10px !important;
    }
 
    .bg-warning, .bg-warning>a {
        color: white !important;
    }

    .btn-warning, .btn-warning>a {
        color: white !important;
        cursor: pointer;
    }

    .tooltip-inner {
        background-color: #007bff;
    }
    .tooltip.bs-tooltip-top .arrow:before {
        border-top-color: #007bff !important;
    }
    .tooltip.bs-tooltip-bottom .arrow:before {
        border-bottom-color: #007bff !important;
    }

    .sidebar-collapse .mailbox-attachments li {
        width: 143px;
        transition: transform 0.5s !important;

    }

    .mailbox-attachments li {
        width: 148px;
        transition: transform 0.5s !important;
    }

    .sidebar-collapse .file-list .mailbox-attachments li {
        width: 165px;
        transition: transform 0.5s !important;
    }

    .file-list .mailbox-attachments li {
        width: 180px;
        transition: transform 0.5s !important;
    }

    .badge-warning{
        color: white;
        background: #ff9900;
    }

</style>



<!-- Summernote -->
<script src="~/tmp/plugins/summernote/summernote-bs4.min.js"></script>
<link href="~/Plugin/SweetAlert/sweetalert.css" rel="stylesheet" />
<script src="~/Plugin/SweetAlert/sweetalert-dev.js"></script>
<script src="~/Plugin/SweetAlert/sweetalert.min.js"></script>

<link href="~/Plugin/filepond/filepond.css" rel="stylesheet">
<script src="~/Plugin/filepond/filepond.min.js"></script>
<script src="~/Plugin/filepond/filepond.jquery.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-file-encode.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-image-preview.min.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-file-validate-size.js"></script>
<script src="~/Scripts/Shared/FilePond.js"></script>
<script src="~/Scripts/Shared/FilePond_alt.js"></script>


<script src="~/Scripts/Detail/Detail.js"></script>
<script src="~/Scripts/Detail/ReviewList.js"></script>
<script src="~/Scripts/Detail/TrialList.js"></script>
<script src="~/Scripts/Detail/ConfirmList.js"></script>

<script>
    $(() => {
        $("#menu3-1").addClass('active');
        $('#menu1-1').removeClass('active');
        $('#menu2-1').removeClass('active');
    });
</script>

<!-- Content Wrapper. Contains page content -->

@* @Html.Partial("_Department") *@
<div class="content-wrapper">

<!-- Main content -->
<section class="content">
<div class="container-fluid">


<a id="Top" style="font-size: 35px;color: #676767;"><i class="fas fa-angle-up"></i></a>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    @if(isQC || isPEProcess){ @Html.Partial("Fab",DepartmentList)}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>TNS Control No. @Html.DisplayFor(model => Topic.Code)</h1>
                    @if(Topic.Status >= 7){
                        <span class='badge badge-pill badge-@(Topic.Status == 7?"warning":"success")'>Request 
                        <i class='fas @(Topic.Status == 7?"fa-clock":"fa-check")'></i>
                        </span>
                    }
                    @if(Topic.Status >= 8){
                        <span class='badge badge-pill badge-@(Topic.Status == 8?"warning":"success")'>Review 
                        <i class='fas @(Topic.Status == 8?"fa-clock":"fa-check")'></i>
                        </span>
                    }
                    @if(Topic.Status >= 9){
                        <span class='badge badge-pill badge-@(Topic.Status == 9?"warning":"success")'>Trial 
                        <i class='fas @(Topic.Status == 9?"fa-clock":"fa-check")'></i>
                        </span>
                    }
                    @if(Topic.Status >= 10){
                        <span class='badge badge-pill badge-@(Topic.Status == 10?"warning":"success")'>Confirm 
                        <i class='fas @(Topic.Status == 10?"fa-clock":"fa-check")'></i>
                        </span>
                    }
                    @if(Topic.Status >= 11){
                        <span class="badge badge-pill badge-success">Closed 
                        <i class='fas fa-check'></i>
                        </span>
                    }
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="main.html?menu=home">Change Control System</a></li>
                        <li class="breadcrumb-item active">Project Detail</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">

                            <div class="card-body">
                                <strong> Change Type</strong>
                                <p class="text-muted">
                                    @Html.DisplayFor(model => Topic.Code)
                                </p>
                                <hr>
                                <strong> Change Items</strong>
                                <p class="text-muted">
                                    @Html.DisplayFor(model => Topic.Change_item)
                                </p>
                                <hr>
                                @* <strong> Approve</strong>
                                <p class="text-muted">
                                    @Html.DisplayFor(model => Topic.Change_item)
                                </p>
                                <hr> *@
                                <strong> Related Department</strong>
                                <p class="text-muted">
                                @{
                                    var RelatedList = Topic.RelatedListAlt;
                                    var j=0;
                                    foreach (var Related in RelatedList){
                                        var isResponsed = (Related.status == 1) ? true : false;
                                        @(j>0?" , ":"")@Related.name
                                        j++;
                                    }
                                }
                                </p>
                                <hr>
                            </div>
                            <!-- /.card-body -->
                            <a href="#" class="btn btn-primary btn-block"><b>Status : @status</b></a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary card-outline card-sticky">
                        <div class="card-body box-profile">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong> Product Type</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.Product_type) </p>
                                <hr>
                                <strong> Model :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.Model) </p>
                                <hr>
                                <strong> Part No :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.PartNo) </p>
                                <hr>
                                <strong> Part Name :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.PartName) </p>
                                <hr>
                                <strong> Process Name :</strong>
                                <p class="text-muted"> @Html.DisplayFor(model => Topic.ProcessName) </p>
                                <hr>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#Detail" data-toggle="tab">Detail</a></li>
                                <li class='nav-item @(ResubmitList.Count == 0 ? "hidden" : "")' ><a class="nav-link" href="#timeline" data-toggle="tab">Request Re-submit</a></li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="Detail">
                                    <!-- /.mailbox-controls -->
                                    <div class="mailbox-read-message">
                                    <form class="form-horizontal">
                                        <h3>Subject/Purpose for change</h3>
                                        <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Subject.ReplaceNullWithDash()))</span>
                                        <h3>Change Details</h3>
                                        <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Detail.ReplaceNullWithDash()))</span>
                                        <h3>Introduction Timing</h3>
                                        <span>@Html.Raw(HttpUtility.HtmlDecode(Topic.Timing.ReplaceNullWithDash()))</span>
                                    </form>

                                @if(Topic.FileList.Count != 0){
                                    var FileList = Topic.FileList;
                                    <h3>Attach File</h3>
                                    <!-- /.card-body -->
                                    <div class="card-footer bg-white">
                                        <ul class="mailbox-attachments d-flex flex-wrap align-items-stretch clearfix">
                                        @foreach(var File in FileList){
                                            var FileSize = "0 Bytes";
                                            var file_desc = (File.Description.Trim() == null || File.Description.Trim() == "") ? "<i>No information</i>" : File.Description;
                                            <li data-toggle="tooltip" data-placement="top" data-html="true" title="@file_desc">
                                                <span class="mailbox-attachment-icon">
                                                    @{var FileType = Path.GetExtension(File.Name);}
                                                    @if(FileType == ".docx" || FileType == ".doc" ){
                                                        <i class="far fa-file-word"></i>
                                                    }else if(FileType == ".pptx" || FileType == ".ppt" ){
                                                        <i class="far fa-file-powerpoint"></i>
                                                    }else if(FileType == ".xls" || FileType == ".xlxs" ){
                                                        <i class="far fa-file-excel"></i>
                                                    }else if(FileType == ".pdf"){
                                                        <i class="far fa-file-pdf"></i>
                                                    }else if(FileType == ".png" || FileType == ".jpeg" || FileType == ".jpg" || FileType == ".JPG" || FileType == ".gif" ){
                                                        <i class="far fa-file-image"></i>
                                                    }else{
                                                        <i class="far fa-file"></i>
                                                    }
                                                </span>
                                                <div class="mailbox-attachment-info">
                                                    <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @Html.DisplayFor(model => File.Name)
                                                    </a>
                                                    <span class="mailbox-attachment-size clearfix mt-1">
                                                    @if(File.Size != null){
                                                        if(File.Size > 1000){
                                                            FileSize = (File.Size / 1000) + " KB";
                                                        }else{
                                                            FileSize = File.Size + " Bytes";
                                                        }
                                                    }
                                                        <span>@FileSize</span>
                                                        <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                    </span>
                                                </div>
                                            </li>
                                        }
                                        </ul>
                                    </div>
                                }   
                                    </div>
                                    <br>
                                    <!------------------------------------QUALITY CONTROL---------------------------------------------------------->
                                @if(ReviewList.Count != 0){
                                    <hr>
                                    @* <h1>Quality Control</h1> *@
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Review <br> 
                                                @* <span class="time"><i class="far fa-clock"></i> 12:05</span> *@
                                            </span>
                                        </div>
                                            @Html.Partial("Review/List",ReviewList) 

                                        @if(status == "Trial" || status == "Confirm" || status == "Closed"){
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Trail and following
                                            </span>
                                        </div>
                                            @Html.Partial("Trial/List",TrialList) 
                                        }

                                        @if(status == "Confirm" || status == "Closed"){
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Confirm status
                                            </span>
                                        </div>
                                            @Html.Partial("Confirm/List",ConfirmList) 
                                        }

                                        @if(status == "Closed"){
                                        <div class="time-label">
                                            <span class="bg-primary">
                                                Closed <br><span class="time"><i class="far fa-clock"></i> 2 days ago</span>
                                            </span>
                                        </div>
                                        }
                                        <div>
                                            <i class="far fa-clock bg-gray"></i>
                                        </div>
                                    </div>
                                }
                                @if(isRelated && !isReview && (status == "Request" || status == "Review")){
                                    if(isPEProcess && (status == "Request" || status == "Review")){
                                        Session["isIssued"] = true;
                                        @Html.Partial("Review/PE_Process") 
                                    }else if(isQC && (!(isInternal && status == "Request"))){
                                        @Html.Partial("Review/QC")
                                    }else if(!isPEProcess && !isQC && ((isExternal && status == "Request") || (isInternal && status == "Review"))){
                                        @Html.Partial("Review/Other", ReviewItems) 
                                    }
                                }else if(isTrialable && !isTrial && status == "Trial"){
                                    <hr><br>
                                    <h1>Trial</h1><br>
                                    <form class="form-horizontal"  action="javascript:void(0);" id="Trial">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Description: </label>
                                        <div class="col-sm-10 col-form-label">
                                            <textarea class="form-control" name="desc" placeholder="" style="height:20vh"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Attach File: </label>
                                        <div class="col-sm-10">
                                            <input type="file" class="my-pond" name="filepond"/>
                                        </div>
                                    </div>
                                    <hr><br>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <button type="submit" id="trial_submit" class="btn btn-info float-right">Submit</button>
                                            </div>
                                        </div>
                                    </form>                                    
                                }else if(isRelated && !isReview && status == "Confirm"){
                                    <hr><br>
                                    <h1>Confirm</h1><br>
                                    <form class="form-horizontal"  action="javascript:void(0);" id="Confirm">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Description: </label>
                                        <div class="col-sm-10 col-form-label">
                                            <textarea class="form-control" name="desc" placeholder="" style="height:20vh"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"> Attach File: </label>
                                        <div class="col-sm-10">
                                            <input type="file" class="my-pond" name="filepond"/>
                                        </div>
                                    </div>
                                    <hr><br>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <button type="submit" id="trial_submit" class="btn btn-info float-right">Submit</button>
                                            </div>
                                        </div>
                                    </form>                                    
                                }
                                    @{
                                        var temp_dept = Session["Department"].ToString();
                                        if(Topic.Status == 7 || Topic.Status == 8){
                                            Review rv_edit = ReviewList.Find(Review => Review.Department == temp_dept);
                                            if(rv_edit != null) { 
                                                if(isQC){
                                                    @Html.Partial("Review/Edit_QC",rv_edit) 
                                                }else if(isPEProcess){
                                                    @Html.Partial("Review/Edit_PE_Process",rv_edit) 
                                                }else{
                                                    @Html.Partial("Review/Edit",rv_edit) 
                                                }
                                            }
                                        }else if(Topic.Status == 9){
                                            Trial tr_edit = TrialList.Find(Trial => Trial.Department == Session["Department"].ToString());
                                            if(tr_edit != null) { @Html.Partial("Trial/Edit",tr_edit) }
                                        }else if(Topic.Status == 10){
                                            Confirm cf_edit = ConfirmList.Find(Confirm => Confirm.Department == Session["Department"].ToString());
                                            if(cf_edit != null) { @Html.Partial("Confirm/Edit",cf_edit) } 
                                        }
                                    }

                                </div> @* End of tab-pane *@
                                <!-- /.tab-pane -->
                                <div class ="tab-pane" id="timeline">
                                    <!-- The timeline -->
                                    @Html.Partial("Resubmit",ResubmitList) 
                                </div>
                                <!-- /.tab-pane -->
                                
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
