@using ChangeControl.Models;

    <!-- The timeline -->
    <div class="timeline timeline-inverse">
        <!-- timeline time label -->
        @foreach(var Resubmit in Model){
            @* DateTime date = ((DateHelper)this.ViewContext.Controller).StringToDateTime(Resubmit.Date); *@
            <div class="time-label">
                <span class="bg-primary" style="Kanit-Light, sans-serif !important">
                    @Resubmit.Date
                </span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-folder-open bg-primary"></i>

                <div class="timeline-item card">
                    <div class="timeline-header card-header d-flex" style="padding: 10px 10px 5px 10px;"  data-card-widget="collapse">
                        @{
                            var list = Resubmit.RelatedList as List<RelatedAlt>;
                            var c_response = list.FindAll(Related => Related.status == 1);
                        }
                            <h6 class="mr-auto" style="font-family:Kanit"> Related Department : @list.Count (Replied : @c_response.Count)</h6>
                            <button type="button" class="btn btn-tool arrow-collapse" data-card-widget="collapse"><i class="fas fa-chevron-down"></i></button>
                    </div>
                    <div class="timeline-body card-body">
                        
                        <div class="row">
                            <label class="col-sm-2 col-form-label text-right" >
                                Author:
                            </label>
                            <div class="col-sm-10 col-form-label">
                                @Resubmit.Profile.FullName
                            </div>
                        </div> 
                        <div class="row">
                            <label class="col-sm-2 col-form-label text-right" >
                                Description:
                            </label>
                            <div class="col-sm-10 col-form-label">
                                @Resubmit.Description
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label text-right" >
                                Due date:
                            </label>
                            <div class="col-sm-10 col-form-label">
                                @Resubmit.DueDate
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label text-right" >
                                Related:
                            </label>
                            <div class="col-sm-10 col-form-label">
                                @if(Resubmit.RelatedList != null){
                                var RelatedList = Resubmit.RelatedList;
                                var i=0;
                                    foreach (var Related in RelatedList){
                                        var isResponsed = (Related.status == 1) ? true : false;
                                        @(i>0?" , ":"")@Related.name
                                        i++;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @* <hr style="margin-top:0px !important">
                    <div class="timeline-footer">
                    </div> *@
                </div>
            </div>
            <!-- END timeline item -->

            foreach(var Response in Resubmit.Responses){
                <!-- timeline item -->
                <div>
                    <i class="fas fa-check bg-success"></i>
                    <div class="timeline-item card">
                        <div class="timeline-header card-header d-flex" style="padding: 10px 10px 5px 10px;"  data-card-widget="collapse">
                                <h6 class="mr-auto" style="font-family:Kanit"> 
                                    @Response.Department (@Response.Date)
                                </h6>
                                <button type="button" class="btn btn-tool arrow-collapse" data-card-widget="collapse"><i class="fas fa-chevron-down"></i></button>
                        </div>
                        <div class="timeline-body card-body">
                            <div class="row">
                                <label class="col-sm-2 col-form-label text-right" >
                                    Author:
                                </label>
                                <div class="col-sm-10 col-form-label">
                                    @Response.Profile.FullName
                                </div>
                            </div> 
                            <div class="row">
                                <label class="col-sm-2 col-form-label text-right" >
                                    Description:
                                </label>
                                <div class="col-sm-10 col-form-label">
                                    @Response.Description
                                </div>
                            </div>

                        @if(Response.FileList != null){
                        if(Response.FileList.Count != 0){
                        <div class="col-sm-12 d-flex mt-4">
                        <ul class="mailbox-attachments d-flex flex-wrap align-items-stretch clearfix">
                            @{var FileList = Response.FileList;
                                foreach(var File in FileList){
                                    var FileSize = "0 Bytes";
                                    var file_desc = (File.Description.Trim() == null || File.Description.Trim() == "") ? "<i>No information</i>" : File.Description;
                                    <li data-toggle="tooltip" data-placement="top" data-html="true" title="@file_desc">
                                        <span class="mailbox-attachment-icon">
                                            @{var FileType = Path.GetExtension(File.Name);}
                                            @if(FileType == ".docx" || FileType == ".doc" ){
                                                <i class="far fa-file-word"></i>
                                            }else if(FileType == ".pptx" || FileType == ".ppt" ){
                                                <i class="far fa-file-powerpoint"></i>
                                            }else if(FileType == ".xls" || FileType == ".xlxs" ){
                                                <i class="far fa-file-excel"></i>
                                            }else if(FileType == ".pdf"){
                                                <i class="far fa-file-pdf"></i>
                                            }else if(FileType == ".png" || FileType == ".jpeg" || FileType == ".jpg" || FileType == ".JPG" || FileType == ".gif" ){
                                                <i class="far fa-file-image"></i>
                                            }else{
                                                <i class="far fa-file"></i>
                                            }
                                        </span>
                                        <div class="mailbox-attachment-info">
                                            <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @File.Name
                                            </a>
                                            <span class="mailbox-attachment-size clearfix mt-1">
                                            @if(File.Size != null){
                                                if(File.Size > 1000){
                                                    FileSize = (File.Size / 1000) + " KB";
                                                }else{
                                                    FileSize = File.Size + " Bytes";
                                                }
                                            }
                                                <span>@FileSize</span>
                                                <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                            </span>
                                        </div>
                                    </li>
                                }
                            }
                            </ul>
                            </div>
                            }
                        }  
                        </div>
                        @* <hr style="margin-top:0px !important">
                        <div class="timeline-footer">
                        </div> *@
                    </div>
                </div>
                <!-- END timeline item -->
            }
            if(list.Exists(Related => Related.status == 0 && Related.name == Session["Department"].ToString())){
            <!-- timeline item -->
            <div>
                <i class="fas fa-pen bg-warning"></i>
                <div class="timeline-item " id="my-card">
                    <div class="timeline-body reply_modal d-flex" style="padding: 10px 10px 5px 10px;cursor:pointer;" data-toggle="modal" data-target="#reply_modal" id="rpm-@Resubmit.ID" onclick="SetResubmitID('@Resubmit.ID')">
                        <h6 class="ml-auto mr-auto" style="font-family:Kanit"> 
                            <i class="fas fa-reply"></i>
                            &nbsp;Reply
                        </h6> 
                    </div>
                </div>
            </div>
            }
        }
        <!-- END timeline item -->

        <!-- timeline time label -->
        <div>
            <i class="far fa-clock bg-gray"></i>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="reply_modal" tabindex="-1" role="dialog" aria-labelledby="reply_modal" aria-modal="true" style="z-index:1200">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="reply_modal">Reply</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height:auto;">
            <div class="row">
            <div class="col-sm-12">
                <form action method="post" class="reply_form" id="">
                    <div class="row">
                        <label class="col-sm-2 col-form-label " >
                            Description:
                        </label>
                        <div class="col-sm-10 col-form-label">
                            <textarea class="form-control" name="desc" placeholder="" style="height:33vh"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label " >
                            Attach File:
                        </label>
                        <div class="col-sm-10">
                            <input type="file" class="my-pond" name="filepond_alt"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
            </button>
            <button type="submit" id="submit_reply_form" class="btn btn-info">
                Submit
            </button>
        </div>
        </div>
    </div>
</div>
