@using ChangeControl.Models;
@{
    ReviewItem TempItem = new ReviewItem();
    List<ReviewItem> ItemList = Model.Item;
}
<!-- Modal -->
<div class="modal fade" id="edit_review" tabindex="-1" role="dialog" aria-labelledby="edit_review" aria-modal="true" style="z-index:1200">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="edit_review">Edit Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height:auto;">
            <div class="row">
            <div class="col-sm-12">
                <form action method="post" class="form-horizontal" id="edit_review_form">
                    <div class="form-group row">
                        <label for="inputAcceptance" class="col-sm-3 col-form-label">Evaluation result</label>

                        @{ TempItem = ItemList.Find(Item => Item.Type == 0); }
                        <div class="col-sm-3 col-form-label">
                            <label style="margin-right: 15px;">
                                <input type="radio" name="rd-0" value="1" class="flat-red" @((bool)TempItem.Status ? "checked" : "")>
                                Acceptance
                            </label>
                            <label style="margin-right: 15px;">
                                <input type="radio" name="rd-0" value="0" class="flat-red" @((bool)TempItem.Status ? "" : "checked")>
                                Not, Acceptance
                            </label>
                        </div>
                        <div class="col-sm-6 col-form-label">
                            <label>Not Approve reason :</label>
                            <input type="text" name="desc-0" class="form-control" placeholder="200 character limit" value="@TempItem.Description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputChangeDetails" class="col-sm-3 col-form-label">Change date</label>
                        <div class="col-sm-9 col-form-label">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 32); }
                            <input data-toggle="datepicker" class="form-control" placeholder="Select Date " autocomplete="off" name="desc-32" value="@TempItem.Description">
                            <div data-toggle="datepicker"></div>
                            @* <input type="text" name="desc-32" class="form-control" placeholder="Enter Date "> *@
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputChangeDetails" class="col-sm-3 col-form-label">Change details</label>
                        <div class="col-sm-9 col-form-label">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 1); }
                            <input type="text" name="desc-1" class="form-control" placeholder="500 character limit" value="@TempItem.Description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputProDesRe" class="col-sm-3 col-form-label">Process design review</label>
                        <div class="col-sm-3 col-form-label">
                            <label style="margin-right: 15px;">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 2); }
                                <input type="radio" name="rd-2" value="1" class="flat-red" @((bool)TempItem.Status ? "checked" : "")>
                                Yes
                            </label>
                            <label style="margin-right: 15px;">
                                <input type="radio" name="rd-2" value="0" class="flat-red" @((bool)TempItem.Status ? "" : "checked")>
                                No, Acceptance
                            </label>
                        </div>
                        <div class="col-sm-6 col-form-label">
                            <label>if yes,inform to NS   Due date :</label>
                            <textarea name="desc-2" class="form-control" placeholder="">@TempItem.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEffeDoc" class="col-sm-3 col-form-label">Effected to Document (Control Plan ,FMEA)</label>
                        <div class="col-sm-3 col-form-label">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 3); }
                            <label style="margin-right: 15px;">
                                <input type="radio" name="rd-3" value="1" class="flat-red" @((bool)TempItem.Status ? "checked" : "")>
                                Yes
                            </label>
                            <label style="margin-right: 15px;">
                                <input type="radio" name="rd-3" value="0" class="flat-red" @((bool)TempItem.Status ? "" : "checked")>
                                No, Acceptance
                            </label>
                        </div>
                        <div class="col-sm-3 col-form-label">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 29); }
                            <label>Control Plan no. :</label>
                            <textarea name="desc-29" class="form-control" placeholder="">@TempItem.Description</textarea>
                        </div>
                        <div class="col-sm-3 col-form-label">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 30); }
                            <label>FMEA No. :</label>
                            <textarea name="desc-30" class="form-control" placeholder="">@TempItem.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSkills" class="col-sm-3 col-form-label">Due Date</label>
                        <div class="col-sm-9 col-form-label">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 31); }
                            <input data-toggle="datepicker" class="form-control" placeholder="Select Date " autocomplete="off" name="desc-31" value="@TempItem.Description">
                            <div data-toggle="datepicker"></div>
                            @* <input type="text" name="desc-32" class="form-control" placeholder="Enter Date "> *@
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSkills" class="col-sm-3 col-form-label">Others  (Please specify)</label>
                        <div class="col-sm-9 col-form-label">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 22); }
                            <input name="desc-22" type="text" class="form-control" placeholder="500 character limit" value="@TempItem.Description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputReqReTrial" class="col-sm-3 col-form-label">Request Trial</label>
                        <div class="col-sm-3 col-form-label">
                            @{ TempItem = ItemList.Find(Item => Item.Type == 24); }
                            <label style="margin-right: 15px;">
                                <input type="radio" name="rd-24" value="1" class="flat-red" @((bool)TempItem.Status ? "checked" : "")>
                                Yes
                            </label>
                            <label style="margin-right: 15px;">
                                <input type="radio" name="rd-24" value="0" class="flat-red" @((bool)TempItem.Status ? "" : "checked")>
                                No, Acceptance
                            </label>
                        </div>
                        <div class="col-sm-6 col-form-label">
                            <label>Details :</label>
                            <textarea class="form-control" name="desc-24" placeholder="">@TempItem.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSkills" class="col-sm-3 col-form-label">Attach File</label>
                        <div class="col-sm-9">
                            <input type="file" class="my-pond" name="filepond" />
                            @* <input type="file" name="filepond" data-max-files="10" required> *@
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
            </button>
            <button type="submit" id="submit_edit_review" form="edit_review_form" class="btn btn-info">
                Submit
            </button>
        </div>
        </div>
    </div>
</div>