@using ChangeControl.Models;
<!-- Modal -->
<div class="modal fade" id="edit_review" tabindex="-1" role="dialog" aria-labelledby="edit_review" aria-modal="true" style="z-index:1200">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="edit_review">Edit Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height:auto;">
            <div class="row">
            <div class="col-sm-12">
                <form action method="post" class="form-horizontal" id="edit_review_form">
                    @{var ReviewItem = Model.Item;}
                    @foreach(var Item in ReviewItem){
                        var temp_rd = $"rd-{@Item.Type}";
                        var temp_desc = $"desc-{@Item.Type}";
                        var txtshow1 = Item.Type != 15 ? "Yes" : "Acceptance";
                        var txtshow2 = Item.Type != 15 ? "No" : "Not Acceptance";
                        <div class="form-group row">
                            <label for="inputProDesRe" class="col-sm-2 col-form-label">@Item.Name</label>
                            @if(Item.Status != null){

                            <div class="col-sm-3 col-form-label">
                                <label class="mr-3">
                                    <input data-type="status" data-id="@Item.Type" type="radio" name="@temp_rd" value="1" class="flat-red" @(Item.Status == 1 ? "checked" : "")>
                                    @txtshow1
                                </label>
                                <label class="mr-3">
                                    <input data-type="status" data-id="@Item.Type" type="radio" name="@temp_rd" value="0" class="flat-red" @(Item.Status == 1 ? "" : "checked")>
                                    @txtshow2
                                </label>
                            </div>
                            <div class="col-sm-7 col-form-label">
                                <label>Details :</label>
                                <textarea data-type="desc" data-id="@Item.Type" class="form-control" name="@temp_desc" placeholder="">@(Item != null ? Item.Description : "")</textarea>
                            </div>
                            }else{
                            <div class="col-sm-10 col-form-label">
                                <label>Details :</label>
                                <textarea data-type="desc" data-id="@Item.Type" class="form-control" name="@temp_desc" placeholder="">@(Item != null ? Item.Description : "")</textarea>
                            </div>
                            }
                        </div>
                    }
                    <div class="row">
                        <label class="col-sm-2 col-form-label " >
                            Attach File:
                        </label>
                        <div class="col-sm-10">
                            <input type="file" class="my-pond" name="filepond_alt"/>
                            @if(Model.FileList.Count > 0){
                                <div class="card-footer bg-white">
                                    @{ ViewBag.DisableFileList = true; }
                                    @Html.Partial("~/Views/Helper/FileList.cshtml",Model.FileList as List<FileItem>)
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <span class="text-danger mr-auto" id="validate-warning" style="display:none">กรุณาระบุข้อมูล/รายละเอียดให้ครบถ้วน</span>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
            </button>
            <button type="submit" id="submit_edit_review" form="edit_review_form" class="btn btn-info">
                Submit
            </button>
        </div>
        </div>
    </div>
</div>