@using ChangeControl.Models
@{
    var str_date = "05 มิถุนายน 2020";
    string department = (string)Session["Department"];
    var isApprover = ((string)Session["Position"] == "Approver" || (string)Session["Position"] == "Admin");
    var isQC = ((string)Session["Department"] == "QC1" || (string)Session["Department"] == "QC2" || (string)Session["Department"] == "QC3");
    List<Review> ElementList = Model;
}
@if(ElementList.Exists(e => e.Department == department)){
        Review Element = ElementList.Find(e => e.Department == department);
        if(Element.Item.Count != 0){
            @DefaultList(ElementList, Element, department, isApprover, isQC)
        }
}

@foreach(var Element in ViewBag.ReviewRelatedList){
    if(Element.status == 0){
    <div>
        <i class="fa fa-hourglass-half  bg-secondary blue-tooltip"></i>
        <div class="timeline-item card">
            <div class="timeline-header card-header d-flex" style="padding: 10px 10px 5px 10px;"  data-card-widget="collapse">
                    <h6 class="mr-auto" style="font-family:Kanit"> 
                        @Element.name
                        <span class='badge badge-pill badge-secondary'>PENDING
                                <i class='fa fa-hourglass-half'></i>
                        </span> </h6>
            </div>
        </div>  
    </div>
    }
}
@foreach(var Element in Model){
    if(Element.Department != department){
        if(Element.Item.Count != 0){
            @DefaultList(ElementList, Element, department, isApprover, isQC)
        }
    }
}

@helper DefaultList(List<Review> ElementList, Review Element, string department, bool isApprover, bool isQC){
<div>
    @* <i class="fas bg-primary" style="font-family:Kanit !important">@Html.DisplayFor(model => Element.Department)</i> *@
    @if(Element.Status == 1){
        <i class="fas fa-check bg-primary blue-tooltip"></i>
    }else if(Element.Status == 3){
        <i class="fas fa-file-signature bg-warning blue-tooltip"></i>
    }else if(Element.Status == 4){
        <i class="fas fa-info bg-warning blue-tooltip"></i>
    }else{
        <i class="fas fa-question bg-error blue-tooltip"></i>
    }
    <div class="timeline-item card">
        <div class="timeline-header card-header d-flex" style="padding: 10px 10px 5px 10px;"  data-card-widget="collapse">
                @{
                    @* var approve_status = (Element.ApprovedBy != null) ? "<span class='text-success'>APPROVED</span>": "<span class='text-secondary'>PENDING</span>"; *@
                    var approve_status = 
                            $@"<span class='badge badge-pill badge-warning'>WAITING FOR APPROVE
                                    <i class='fas fa-file-signature '></i>
                            </span>";
                    if(Element.ApprovedBy != null && Element.ApprovedBy != ""){
                    approve_status = 
                            $@"<span class='badge badge-pill badge-success'>APPROVED
                                    <i class='fas fa-check'></i>
                            </span>";
                    }

                    var dept_status = (Element.Department == department) ? $"<span class='badge badge-pill badge-primary'> YOUR DEPARTMENT <i class='fas fa-pencil-alt'></i> </span>" : "";
                }
                <h6 class="mr-auto" style="font-family:Kanit"> @Element.Department @Html.Raw(HttpUtility.HtmlDecode(@dept_status)) @Html.Raw(HttpUtility.HtmlDecode(@approve_status)) </h6>
                <button type="button" class="btn btn-tool arrow-collapse" data-card-widget="collapse"><i class="fas fa-chevron-down"></i></button>
        </div>

        <div class="timeline-body card-body">
                <form class="form-horizontal">
                    @{var ElementItem = Element.Item;}
                    <div class="row">
                        <label class="col-sm-4 col-form-label" style="text-align:right">
                                Reviewed By :
                        </label>
                        <div class="col-sm-8 col-form-label">
                            <span>
                                @Element.Profile.FullName (@Element.Date)
                            </span>
                        </div>
                    </div>
                    @if(Element.ApprovedBy != "" && Element.ApprovedBy != null){
                    <div class="row">
                        <label class="col-sm-4 col-form-label" style="text-align:right">
                                Approved By :
                        </label>
                        <div class="col-sm-8 col-form-label">
                            <span>
                                @Element.Approver.FullName (@Element.ApprovedDate) <span class='badge badge-pill badge-success'><i class='fas fa-check'></i></span>
                            </span>
                        </div>
                    </div>
                    }
                    @foreach(var Item in ElementItem){
                        var temp_status = (String)null;
                        if(Item.Status == true){
                            temp_status = "Yes";
                        }else if(Item.Status == false){
                            temp_status = "No";
                        }else if(Item.Status == null){
                            temp_status = "-";
                        }
                    <div class="row">
                        <label class="col-sm-4 col-form-label" style="text-align:right">
                            @Item.Name :
                        </label>
                        <div class="col-sm-8 col-form-label">
                            @if(temp_status != null && Item.Description != ""){
                                if(temp_status != "-"){
                                    <span>@temp_status</span>
                                    <span>,</span>
                                }
                                <span>@Item.Description</span><br>
                            }else if(temp_status != null && Item.Description == ""){
                                <span>@temp_status</span>
                            }
                        </div>
                    </div>
                    }
                    
                </form>

            @if(Element.FileList != null){
                if(Element.FileList.Count != 0){
                <div class="col-sm-12 d-flex mt-4 file-list">
                <ul class="mailbox-attachments d-flex flex-wrap align-items-stretch clearfix">
                    @{var FileList = Element.FileList;
                        foreach(var File in FileList){
                            var FileSize = "0 Bytes";
                            var file_desc = (File.Description.Trim() == null || File.Description.Trim() == "") ? "<i>No information</i>" : File.Description;
                            using (Html.BeginForm("DownloadFile", "Detail", FormMethod.Post, new { enctype = "multipart/form-data" })){
                            <li data-toggle="tooltip" data-placement="top" data-html="true" title="@file_desc">
                                <span class="mailbox-attachment-icon">
                                    @{var FileType = Path.GetExtension(File.Name);}
                                    @if(FileType == ".docx" || FileType == ".doc" ){
                                        <i class="far fa-file-word"></i>
                                    }else if(FileType == ".pptx" || FileType == ".ppt" ){
                                        <i class="far fa-file-powerpoint"></i>
                                    }else if(FileType == ".xls" || FileType == ".xlxs" ){
                                        <i class="far fa-file-excel"></i>
                                    }else if(FileType == ".pdf"){
                                        <i class="far fa-file-pdf"></i>
                                    }else if(FileType == ".png" || FileType == ".jpeg" || FileType == ".jpg" || FileType == ".JPG" || FileType == ".gif" ){
                                        <i class="far fa-file-image"></i>
                                    }else{
                                        <i class="far fa-file"></i>
                                    }
                                </span>
                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @File.Name
                                    </a>
                                    <span class="mailbox-attachment-size clearfix mt-1">
                                    @if(File.Size != null){
                                        if(File.Size > 1000){
                                            FileSize = (File.Size / 1000) + " KB";
                                        }else{
                                            FileSize = File.Size + " Bytes";
                                        }
                                    }
                                        <span>@FileSize</span>
                                         <button name="load" value="@File.Name_Format^@File.Name" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></button>
                                    </span>
                                </div>
                            </li>
                            }
                        }
                    }
                    </ul>
                    </div>
                }
            }
        </div>
        @{
            var isDepartment = (department == Element.Department);
            @* if((isDepartment) && Element.Status != 1 && ((string)Session["Status"] == "Request" || (string)Session["Status"] == "Element")){ //Disable edit and approve button when Element have approved *@
            if((isDepartment) && ((string)Session["Status"] == "Request" || (string)Session["Status"] == "Review")){
            <hr style="margin-top:0px !important">
            <div class="timeline-footer">
                <div class="float-right ">
                    @* @if(Element.Status !=1 && isDepartment){ //Disable edit button when Element have approved*@ 
                    <a class="btn btn-warning btn-sm rv-edit" id="edit_rv" data-toggle="modal" data-target="#edit_review" value="@Element.ID_Review">Edit</a>
                        @if(isApprover && ((Element.Status !=1 && !isQC) || (!ElementList.Exists(e => e.Status == 3 && e.Department != "QC1" && e.Department != "QC2" && e.Department != "QC3") && isQC))){ 
                            <button class="btn btn-info btn-sm mr-1 rv-approve" value="@Element.ID_Review">Approve</button>
                        }
                </div>
            </div>
            }
        }
    </div>  
</div>
}