@{
    var str_date = "05 มิถุนายน 2020";
    string department = (string)Session["Department"];
    var isApprover = ((string)Session["Position"] == "Approver");
}

@foreach(var Review in Model){
if(Review.Item.Count != 0){
<div>
    @* <i class="fas bg-primary" style="font-family:Kanit !important">@Html.DisplayFor(model => Review.Department)</i> *@
    @if(Review.Status == 1){
        <i class="fas fa-check bg-primary blue-tooltip" data-toggle="tooltip" data-placement="top" title="Approved"></i>
    }else if(Review.Status == 3){
        <i class="far fa-clock bg-warning blue-tooltip" data-toggle="tooltip" data-placement="top" title="Waiting for approve"></i>
    }else if(Review.Status == 4){
        <i class="fas fa-info bg-warning blue-tooltip" data-toggle="tooltip" data-placement="top" title="Need more information"></i>
    }else{
        <i class="fas fa-question bg-error blue-tooltip" data-toggle="tooltip" data-placement="top" title="Unknown"></i>
    }
    <div class="timeline-item card">
        <div class="timeline-header card-header d-flex" style="padding: 10px 10px 5px 10px;"  data-card-widget="collapse">
                @{
                    @* var approve_status = (Review.ApprovedBy != null) ? "<span class='text-success'>APPROVED</span>": "<span class='text-secondary'>PENDING</span>"; *@
                    var approve_status = 
                            $@"<span class='badge badge-pill badge-warning'>WAITING FOR APPROVE
                                    <i class='fas fa-clock'></i>
                            </span>";
                    if(Review.ApprovedBy != null){
                    approve_status = 
                            $@"<span class='badge badge-pill badge-success'>APPROVED
                                    <i class='fas fa-check'></i>
                            </span>";
                    }

                    var dept_status = (Review.Department == department) ? $"<span class='badge badge-primary' style='font-size: 0.9rem;'> {Review.Department} </span>" : Review.Department;
                }
                <h6 class="mr-auto" style="font-family:Kanit"> @Html.Raw(HttpUtility.HtmlDecode(@dept_status)) - @Review.Profile.Name @Review.Profile.SurName (@Review.Date) @Html.Raw(HttpUtility.HtmlDecode(@approve_status)) </h6>
                <button type="button" class="btn btn-tool arrow-collapse" data-card-widget="collapse"><i class="fas fa-chevron-down"></i></button>
        </div>

        <div class="timeline-body card-body">
                <form class="form-horizontal">
                    @{var ReviewItem = Review.Item;}
                    @foreach(var Item in ReviewItem){
                        var temp_status = (String)null;
                        if(Item.Status == true){
                            temp_status = "Yes";
                        }else if(Item.Status == false){
                            temp_status = "No";
                        }else if(Item.Status == null){
                            temp_status = "-";
                        }
                    <div class="row">
                        <label class="col-sm-4 col-form-label" style="text-align:right">
                            @Item.Name :
                        </label>
                        <div class="col-sm-8 col-form-label">
                            @if(temp_status != null && Item.Description != ""){
                                if(temp_status != "-"){
                                    <span>@temp_status</span>
                                    <span>,</span>
                                }
                                <span>@Item.Description</span><br>
                            }else if(temp_status != null && Item.Description == ""){
                                <span>@temp_status</span>
                            }
                        </div>
                    </div>
                    }
                    @if(Review.ApprovedBy != "" && Review.ApprovedBy != null){
                    <div class="row">
                        <label class="col-sm-4 col-form-label" style="text-align:right">
                                Approved By :
                        </label>
                        <div class="col-sm-8 col-form-label">
                            <span>
                                @Review.Approver.FullName (@Review.ApprovedDate) <span class='badge badge-pill badge-success'><i class='fas fa-check'></i></span>
                            </span>
                        </div>
                    </div>
                    }
                </form>

            @if(Review.FileList != null){
                if(Review.FileList.Count != 0){
                <div class="col-sm-12 d-flex mt-4 file-list">
                <ul class="mailbox-attachments d-flex flex-wrap align-items-stretch clearfix">
                    @{var FileList = Review.FileList;
                        foreach(var File in FileList){
                            var FileSize = "0 Bytes";
                            var file_desc = (File.Description.Trim() == null || File.Description.Trim() == "") ? "<i>No information</i>" : File.Description;
                            using (Html.BeginForm("DownloadFile", "Detail", FormMethod.Post, new { enctype = "multipart/form-data" })){
                            <li data-toggle="tooltip" data-placement="top" data-html="true" title="@file_desc">
                                <span class="mailbox-attachment-icon">
                                    @{var FileType = Path.GetExtension(File.Name);}
                                    @if(FileType == ".docx" || FileType == ".doc" ){
                                        <i class="far fa-file-word"></i>
                                    }else if(FileType == ".pptx" || FileType == ".ppt" ){
                                        <i class="far fa-file-powerpoint"></i>
                                    }else if(FileType == ".xls" || FileType == ".xlxs" ){
                                        <i class="far fa-file-excel"></i>
                                    }else if(FileType == ".pdf"){
                                        <i class="far fa-file-pdf"></i>
                                    }else if(FileType == ".png" || FileType == ".jpeg" || FileType == ".jpg" || FileType == ".JPG" || FileType == ".gif" ){
                                        <i class="far fa-file-image"></i>
                                    }else{
                                        <i class="far fa-file"></i>
                                    }
                                </span>
                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @File.Name
                                    </a>
                                    <span class="mailbox-attachment-size clearfix mt-1">
                                    @if(File.Size != null){
                                        if(File.Size > 1000){
                                            FileSize = (File.Size / 1000) + " KB";
                                        }else{
                                            FileSize = File.Size + " Bytes";
                                        }
                                    }
                                        <span>@FileSize</span>
                                         <button name="load" value="@File.Name_Format^@File.Name" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></button>
                                    </span>
                                </div>
                            </li>
                            }
                        }
                    }
                    </ul>
                    </div>
                }
            }
        </div>
        @{
            var isDepartment = (department == Review.Department);
            @* if((isDepartment) && Review.Status != 1 && ((string)Session["Status"] == "Request" || (string)Session["Status"] == "Review")){ //Disable edit and approve button when Review have approved *@
            if((isDepartment) && ((string)Session["Status"] == "Request" || (string)Session["Status"] == "Review" && (Review.ApprovedBy == "" || Review.ApprovedBy == null))){
            <hr style="margin-top:0px !important">
            <div class="timeline-footer">
                <div class="float-right ">
                    @* @if(Review.Status !=1 && isDepartment){ //Disable edit button when Review have approved*@ 
                    <a class="btn btn-warning btn-sm rv-edit" id="edit_rv" data-toggle="modal" data-target="#edit_review" value="@Review.ID_Review">Edit</a>
                    @if(Review.Status !=1 && Review.Status !=5 && Review.Status !=6 && isApprover ){ <button class="btn btn-info btn-sm mr-1 rv-approve" value="@Review.ID_Review">Approve</button>}
                </div>
            </div>
            }
        }
    </div>  
</div>
}
}