@* <p>
      <strong>Subject : </strong>
      Process change no. <b>@Model.Code</b> please approve request.
    </p> *@
<!--<p>Dear all concernings,</p>
<p>
    According to  <b>@Model.Code</b> of model <b>@Model.Model</b> Part no. <b>@Model.PartNo</b> <br>
    @* review by <b>@Model.Profile.FullName</b>  *@
    within <b>@DateTime.Now.AddDays(10).ToString("d MMMM yyyy")</b> Please review data.
</p>
<p>For more details, please click this <a href="@ViewBag.Url">Link.</a></p>
<p>Best Regards</p>-->


<p>Dear all concernings,</p>
<p>
    New <b>@Model.Code</b> of model <b>@Model.Model</b> Part no. <b>@Model.PartNo</b> <br>
   has been issued. Please Review and Submit your comment within <b>@DateTime.Now.AddDays(10).ToString("d MMMM yyyy")</b>
</p>
<p>For more details, please click this <a href="@ViewBag.Url">Link.</a></p>
<p>Best Regards4</p>