    <p> 
      <strong>Subject : </strong>
      Process change no. <b>@Model.Code</b> Issue request.
    </p>
    <p>Dear all concernings,</p>
    <p>
      According to  <b>@Model.Code</b> of model <b>@Model.Model</b> part no. <b>@Model.PartNo</b>, has been issued. 
    </p>
    <p>Please check document and for more details, please click this <a href="@ViewBag.Url">Link.</a></p>
    <p>Best Regards5 <br> P.Kanchana</p>