
<p>Dear all concernings,</p>
<p>
    New <b>@Model.Code</b> of model <b>@Model.Model</b> Part no. <b>@Model.PartNo</b> has been issued. Please review and submit your comment within <b>@DateTime.Now.AddDays(10).ToString("d MMMM yyyy")</b>.
</p>
<p>For more details, please click this <a href="@ViewBag.Url">Link.</a></p>
<p>Best Regards</p>