
    <p>Dear all concernings,</p>
    <p>
      According to  <b>@Model.Code</b> of model <b>@Model.Model</b> Part no. <b>@Model.PartNo</b> <br> 
      <b>@Session["Department"].ToString()</b> Request more document within <b>@ViewBag.DueDate</b>.
    </p>
    <p>For more details, please click this <a href="@ViewBag.Url">Link.</a></p>
    <p>Best Regards</p>