
    <p> 
      <strong>Subject : </strong>
      Process change no. <b>@Model.Code</b> <u class="text-danger">Not approve</u>.
    </p>
    <p>Dear all concernings,</p>
    <p>
      According to  <b>@Model.Code</b> of model <b>@Model.Model</b> part no. <b>@Model.PartNo</b>, <b class="text-danger">Not approve</b> For more details, please click this <a href="@ViewBag.Url">Link.</a></p>
    <p>Best Regards17</p>