@{
  string host = $"/Detail/Index/?id={Model.Code}";

  var rev = (int) Session["TrialRev"];
  int prev_rev = rev - 1;
}
    <p> 
      <strong>Subject : </strong>
      Process change no. <b>@Model.Code</b>, <b> @Session["FullName"].ToString()</b> Revised Trial Data to <b>Rev @rev</b>.
    </p>
    <p>Dear all concernings,</p>
    <p>
      According to  <b>@Model.Code</b> of model <b>@Model.Model</b> Part no. <b>@Model.PartNo</b>, Trial data has been revised
       from revision <b>@prev_rev</b> to Revision <b>@rev</b>
       , by <b>@Session["FullName"].ToString()</b>, Please check your Trial data again.
    </p>
    <p>For more details, please click this <a href="@ViewBag.Url">Link.</a></p>
    <p>Best Regards</p>