<!DOCTYPE html>
<html lang="en">
@using ChangeControl.Models;
@using ChangeControl.Helpers

@{
    var rsm_list = ViewData["TopicResubmitList"] as List<TopicNoti>;
    var req_list = ViewData["TopicRequestList"] as List<TopicNoti>;
    var rv_list = ViewData["TopicReviewList"] as List<TopicNoti>;
    var tr_list = ViewData["TopicTrialList"] as List<TopicNoti>;
    var cf_list = ViewData["TopicList"] as List<TopicNoti>;
}
<head>
    <title>TNS Change Control System</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    @Styles.Render("~/Content/css")

    <!-- Theme style -->
    <link rel="stylesheet" href="~/tmp/dist/css/adminlte.min.css">
    <!-- jq-fab -->
    <link rel="stylesheet" href="~/Plugin/jq-fab/css/index.css">

    <script type="text/javascript">
        var file_list = [];
        var file_array = [];
        var file_length = 0;
        var SetDepartmentPath = '@Url.Action("SetDepartment", "Login")';
        var SetPositionPath = '@Url.Action("SetPosition", "Login")';
        var GetSessionPath = '@Url.Action("GetSession", "Login")';
        var GetDepartmentListPath = '@Url.Action("GetDepartment", "Request")';
        var DeleteFileByNameFormatPath = '@Url.Action("DeleteFileByNameFormat", "Detail")';
        var us_id = '@Session["User"].ToString()';
        var us_dept = '@Session["Department"].ToString()';
    </script>

    <!-- CSS loading -->
    <link href="~/Plugin/loading-rhombus.css" rel="stylesheet">

    <!-- REQUIRED SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/filepond")
    @RenderSection("scripts", required: false)

    <style>
        body {
            font-family: 'Kanit-Light' , sans-serif ;
            font-size: 14px;
        }

        b,span,a{
            font-family: 'Kanit' , sans-serif !important;
            font-size: 14px;
            @* font-weight: 300 !important; *@
        }
        /* The Modal (background) */

        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        @@font-face{
            font-family: 'Kanit-Thin';
            src: url("@Href("~/fonts/Kanit/Kanit-Thin.ttf")") format("truetype");
        }
        @@font-face{
            font-family: "Kanit-ExtraLight";
            src: url("@Href("~/fonts/Kanit/Kanit-ExtraLight.ttf")") format("truetype");
        }
        @@font-face{
            font-family: "Kanit-Light";
            src: url("@Href("~/fonts/Kanit/Kanit-Light.ttf")") format("truetype");
        }
        @@font-face{
            font-family: "Kanit";
            src: url("@Href("~/fonts/Kanit/Kanit-Regular.ttf")") format("truetype");
        }
        @@font-face{
            font-family: "Kanit-SemiBold";
            src: url("@Href("~/fonts/Kanit/Kanit-SemiBold.ttf")") format("truetype");
        }
        @@font-face{
            font-family: "Kanit-Bold";
            src: url("@Href("~/fonts/Kanit/Kanit-Bold.ttf")") format("truetype");
        }

        .center{
            text-align: center;
        }

        .right{
            float: right;
        }

        .left{
            float: left;
        }

        [data-filepond-item-state='idle'] .filepond--item-panel {
            background-color: #22a061;
        }

        .swal-button--clear, .swal-button--clear:hover {
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .swal-button--confirm, .btn-info {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-info.disabled, .btn-info:disabled {
            color: #fff;
            background-color: #aab0b1;
            border-color: #aab0b1;
        }

        .btn-info:hover {
            color: #fff;
            background-color: #135396;
            border-color: #135396;
        }

        .hidden{
            display: none;
        }

        .txt-right{
            text-align: right;
        }

        .btn-warning {
            color: white;
        }

        body {
            padding-right: 0px !important;
        }

        .swal-modal .swal-text {
            text-align: center;
        }

        .navbar-badge {
            font-size: 0.7rem;
            font-weight: 300;
            padding: 2px 4px;
            position: absolute;
            right: -7.2px;
            top: 2px;
        }

        .bg-warning, .bg-warning>a {
            color: white !important;
        }

        .btn-warning, .btn-warning>a {
            color: white !important;
            cursor: pointer;
        }

        .badge-warning, .bg-warning, .btn-warning{
            color: white !important;
            background: #ff9900 !important;
        }

        .sub-nav-link{
            max-height: 432px;
            overflow-y: auto;
        }

        .notyf{
            top: 0 !important;
        }

        .introjs-donebutton {
            float: right;
            margin-left: 7px !important;
        }

    </style>


</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    @* <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapse"> *@
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                @NodeRSM(rsm_list, "Re-submit")
                @NodeNoti(req_list, "Request")
                @NodeNoti(rv_list, "Review")
                @NodeNoti(tr_list, "Trial & Confirm")
                @NodeNoti(cf_list, "Initial Production")

                <!-- Notifications Dropdown Menu -->
                @if ((string)Session["Position"] == "Admin")
                {
                    <li class="nav-item">
                        <a class="nav-link pr-0" id="change_dept_btn">
                            @* Change Department *@
                            <input type="submit" class="btn btn-block btn-sm btn-outline-primary" value="Change Department">
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("SignOut", "Login")'>
                        @* Sign Out *@
                        <input type="submit" class="btn btn-block btn-sm btn-outline-danger" value="Sign out">
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                @* <img src="~/tmp/dist/img/change.png" alt="AdminLTE Logo" class="brand-image " style="opacity: .8"> *@
                <img src="~/tmp/dist/img/logo-square.png" alt="AdminLTE Logo" class="brand-image " style="opacity: .8; transform: scale(1.5);">
                <span class="brand-text font-weight-light" style="font-size: 20px; margin-left: 3%; font-family: Kanit-Light "> CHANGE CONTROL</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/tmp/dist/img/TNSavatar.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info mt-n2">
                        @{
                            var us_name = Session["FullName"].ToString() + " (" + Session["Department"] + ")";
                        }
                        <a href="#" class="d-block px-2" title="@us_name" style="white-space: pre-line;">@us_name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li id="menu1" class="nav-item">
                            <a id="menu1-1" href="@Url.Action("Index", "Home")" class="nav-link animsition-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Main menu
                                    @* <span class="right badge badge-danger">New</span> *@
                                </p>
                            </a>
                        </li>
                        @if (Session["Department"].ToString() != "Guest")
                        {
                            <li id="menu2" class="nav-item">
                                <a id="menu2-1" href="@Url.Action("Index", "Request")" class="nav-link animsition-link">
                                    <i class="nav-icon fas fa-edit"></i>

                                    <p>
                                        Request change item
                                    </p>
                                </a>
                            </li>
                        }
                        @if (Session["Position"].ToString() == "Admin" || Session["Document"].ToString() == "YES")
                        {
                            <li id="menu4" class="nav-item">
                                <a id="menu4-1" href="@Url.Action("Index", "User")" class="nav-link animsition-link">
                                    <i class="nav-icon fas fa-user-friends"></i>
                                    <p>
                                        User <span class="right badge badge-danger">New</span>

                                    </p>
                                </a>
                            </li>
                        }
                        <li id="menu5" class="nav-item">
                            <a id="menu5-1" href="@Url.Action("Index", "Report")" class="nav-link animsition-link">
                                <i class="nav-icon fas far fa-clipboard"></i>
                                <p>
                                    Report
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/manual.pdf" class="nav-link animsition-link">
                                <i class="nav-icon far fa-clone"></i>
                                <p>
                                    Manual
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="">
            @* <div class="animsition"> *@
            <div class="loading hidden" id="loading">
                <div class="breeding-rhombus-spinner" style="position:fixed;top:50%;left:50%;z-index:20;">
                    <div class="rhombus child-1"></div>
                    <div class="rhombus child-2"></div>
                    <div class="rhombus child-3"></div>
                    <div class="rhombus child-4"></div>
                    <div class="rhombus child-5"></div>
                    <div class="rhombus child-6"></div>
                    <div class="rhombus child-7"></div>
                    <div class="rhombus child-8"></div>
                    <div class="rhombus big"></div>
                </div>
                <div style="
                    content: '';
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 19;
                    background-color: rgba(255, 255, 255, 0.762);
                "></div>
                @* <img src="~/Plugin/img/loading-3.svg" style="width:auto;height:auto;"> *@
            </div>
            @RenderBody()
        </div>

        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer" style="position: unset;">
            <strong>Copyright &copy; 2019-2020 IT Department Design Team</strong> All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                Support by: Tapics admin, tel no:2062,2064,3005,3006
                &nbsp;
                <b>Version</b> 1.4
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- filepond css -->
    @* <link href="~/Plugin/filepond/filepond.css" rel="stylesheet"> *@
    <link rel="stylesheet" href="~/tmp/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/tmp/plugins/summernote/summernote-bs4.css">
    <!-- DataTables -->
    <script src="~/tmp/plugins/datatables/jquery.dataTables.js"></script>
    @* <script src="~/Plugin/dataTables.treeGrid-ch.js"></script> *@
    <script src="~/Plugin/dataTables.treeGrid.js"></script>
    <script src="~/tmp/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/tmp/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/tmp/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/tmp/dist/js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/tmp/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/tmp/plugins/raphael/raphael.min.js"></script>
    <script src="~/tmp/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/tmp/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <!-- ChartJS -->
    <script rel="preload" src="~/tmp/plugins/chart.js/Chart.min.js" as="script" onload="this.rel='script'"></script>
    @* <script src="~/tmp/plugins/chart.js/Chart.min.js"></script> *@
    <!-- PAGE SCRIPTS -->
    <script src="~/tmp/dist/js/pages/dashboard2.js"></script>
    <!-- Summernote -->
    <script src="~/tmp/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- jQuery Modal -->

    <script src="~/tmp/plugins/moment/moment-with-locales.min.js"></script>

    <!-- jq-fab -->
    <script src="~/Plugin/jq-fab/js/index.js"></script>

    <script src="~/Scripts/jquery.modal-wizard.js"></script>

    <link href="~/Plugin/datepicker/datepicker.min.css" rel="stylesheet">
    <script src="~/Plugin/datepicker/datepicker.min.js"></script>

    <script src="~/tmp/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="~/Plugin/animsition/dist/js/animsition.js"></script>

    <script src="~/Scripts/jquery.transit.min.js"></script>

    <script src="~/Plugin/intro/intro.js"></script>
    <link href="~/Plugin/intro/introjs.css" rel="stylesheet" />

    <link href="~/Plugin/notyf/notyf.min.css" rel="stylesheet" />
    <script src="~/Plugin/notyf/notyf.min.js"></script>

    <script src="~/Scripts/Shared/Shared.js?date='@DateTime.Now.ToString("yyMMddHH")"></script>

    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
        });
        // Get the modal
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];

    </script>
    <script src="~/Scripts/Layout/layout.js"></script>

</body>

</html>

@helper NodeNoti(List<TopicNoti> ElementList, string Mode)
{
    <li class="nav-item dropdown">
        <a class="nav-link pr-0" data-toggle="dropdown" href='#'>
            @if (ElementList.Count() > 0)
            {
                <span class="badge badge-danger navbar-badge">@ElementList.Count()</span>
                <input type="submit" class="btn btn-block btn-sm btn-outline-primary" value="@Mode">
            }
            else
            {
                <input type="submit" class="btn btn-block btn-sm btn-outline-secondary" value="@Mode" disabled>
            }


        </a>
        <div class="sub-nav-link dropdown-menu dropdown-menu-lg dropdown-menu-right">
            @if (ElementList != null)
            {
                foreach (var Element in ElementList)
                {
                    <a href="~/Detail/?id=@Element.Code" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="~/tmp/dist/img/doc.png" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    @Element.Code

                                    @if (Element.SubStatus == "Pending")
                                    {
                                        <span class='badge badge-pill badge-secondary'>
                                            PENDING
                                            <i class='fa fa-hourglass-half '></i>
                                        </span>
                                    }
                                    else if (Element.SubStatus == "Issued")
                                    {
                                        <span class='badge badge-pill badge-warning'>
                                            ISSUED
                                            <i class='fa fa-clock '></i>
                                        </span>
                                    }
                                    else if (Element.SubStatus == "Approved")
                                    {
                                        <span class='badge badge-pill badge-primary'>
                                            APPROVED
                                            <i class='fa fa-clock '></i>
                                        </span>
                                    }

                                </h3>

                                @if (Element.SubStatus == "Pending")
                                {
                                    <p class="text-sm">Waiting for review</p>
                                }
                                else if (Element.SubStatus == "Issued")
                                {
                                    <p class="text-sm">Waiting for approve</p>
                                }
                                else if (Element.SubStatus == "Approved")
                                {
                                    if (Element.Status == 7)
                                    {
                                        <p class="text-sm">Waiting for PE Process</p>
                                    }
                                    else
                                    {
                                        <p class="text-sm">Waiting for QC</p>
                                    }
                                }

                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>@Element.Time_insert.StringToDateTimeShort()</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                }
            }
        </div>
    </li>
}
@helper NodeRSM(List<TopicNoti> ElementList, string Mode)
{
    <li class="nav-item dropdown">
        <a class="nav-link pr-0" data-toggle="dropdown" href='#'>
            @if (ElementList.Count() > 0)
            {
                <span class="badge badge-danger navbar-badge"> @ElementList.Count() </span>
                <input type="submit" class="btn btn-block btn-sm btn-outline-primary" value="@Mode">
            }
            else
            {
                <input type="submit" class="btn btn-block btn-sm btn-outline-secondary" value="@Mode" disabled>
            }

        </a>
        <div class="sub-nav-link dropdown-menu dropdown-menu-lg dropdown-menu-right">
            @if (ElementList != null)
            {
                foreach (var Element in ElementList)
                {
                    <a href="~/Detail/?id=@Element.Code" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="~/tmp/dist/img/doc.png" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    @Element.Code

                                    <span class='badge badge-pill badge-secondary'>
                                        PENDING
                                        <i class='fa fa-hourglass-half '></i>
                                    </span>


                                </h3>
                                <p class="text-sm">Waiting for Response</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>@Element.Time_insert.StringToDateTimeShort()</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                }
            }
        </div>
    </li>
}